.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    width: 690px;
    margin-top: 15px;
}

.top-nav a {
    display: inline-block;
    font-size: 14px;
    color: #1d1d1d;
    text-decoration: none;
}

top-nav a:hover {
    opacity: 0.3;
}
  
  .top-img {
    width: 100%;
  }
  
  .logo {
    margin-left: 6px;
    vertical-align: text-bottom;
  }
  
  .container {
    width: 800px;
    margin: 0 auto;
    margin-top: 5px;
  }
  
  .top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 1.3px;
  }
  
  .top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
  }
  
  .middle-content {
    margin-bottom: 20px;
    margin-top: 1em;
  }
  

  
  .middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
  }
  
  .middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
  }
  
  .bottom-content .text-container {
    padding-right: 4%;
  }
  
  .bottom-content .text-container:last-child {
    padding-right: 0;
  }
  
  footer {
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
  }
  
  footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
  }
  
  footer nav a {
    color: white;
    text-decoration: none;
  }
  
  #body-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1px;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    text-align: center;
    border-bottom: 1px dashed black;
    margin: 1em;
    padding: 1em;
    max-width: 40%;
    flex-wrap: wrap;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  
  .box img {
    height: auto;
    max-width: 250px;
    border-radius: 0.5%;
    margin: 1.3%;
  }
  
  section {
    padding: 1.5px;
  }
  
  .button {
    border: 2px solid black;
    padding: 0.3px 3px;
    color: black;
    text-decoration: none;
    margin: 0.8px;
  }
  