/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2%;
  margin-bottom: 5%;
}
header nav a {
  text-decoration: none;
  color: black;
}

.about-section {
  padding-bottom: 2%;
  border-bottom: 1px dashed black;
  margin-bottom: 5%;
}

.hero-img {
  margin-bottom: 2%;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  width: 770px;
  justify-content: space-between;
}

.card-section .card-content {
  display: flex;
  flex-direction: column;
  width: 47%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  border-bottom: 1px dashed black;
}

.card-content h2 {
  margin-top: 3%;
}
.card-content button {
  width: 30%;
  padding: 1.5% 3%;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 15px;
  margin-top: 3%;
}

.conclusion {
  margin-bottom: 5%;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}
