/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
}

p {
  line-height: 1.4;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.About{
  width: 800px;
  padding: 10px;
  border-bottom: 1px dotted black;
  margin: 0 auto;
  margin-right: 90px;
}
.TopImg img{
  width: 85%;
  max-height: 200px;
}
.TopImg{
  display: flex;
  width: 100%;
  justify-content: center;
}
.Box{
  display: flex;
  flex-wrap: wrap;
}
.Strategy{
  margin-right: 20px;
  margin-top: 25px;
  width: 400px;
  border-bottom: 1px dotted gray;
  padding-bottom: 20px;
}
.How {
  margin-left: 20px;
  margin-top: 25px;
  width: 400px;
  border-bottom: 1px dotted gray; 
  padding-bottom: 20px;
}
.Places {
  margin-right: 20px;
  margin-top: 25px;
  width: 400px;
  border-bottom: 1px dotted gray;
  padding-bottom: 20px;
}
.Collab {
  margin-left: 20px;
  margin-top: 25px;
  width: 400px;
  border-bottom: 1px dotted gray;
  padding-bottom: 20px;
}
.Lets{
  margin-top: 25px;
  margin-bottom: 25px;
}
footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}
.TopBar{
  display: flex;
}
.TopBar .Navigation{
  justify-content: space-between;
  text-decoration: none;
  margin: auto;
  margin: 0 auto;
  padding-bottom: 10px;
}
.Navigation a{
  margin: 0px 25px 0px 25px;
  background-color: white;
  color: black;
  text-decoration: none;
}
.TopImg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 25px;
  margin-right: 90px;
}
.Learn {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
}
.Lambda {
  margin-right: 50px;
}