/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */


.container {
    width: 800px;
    margin: 0 auto;
}

.navBar  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    background: white;
    width: 800px;
    margin-bottom: 10px;
   }

   .ops {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 800px;
    padding-bottom: 10px;
  
 }
 
 .serv, .prod, .vis, .feat, .abou, .cont {
    background-color: white;
    margin-top: 16px;
    border: none;
    color: black;
    font-size: 20px;
    transition: 0.3s;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
     
 }
 .top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 70px;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

.text-container {
    width: 100%;
    padding: 0 1%;
    padding-bottom: 20px;  
    padding-top: 20px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}