/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}



header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}

header nav {
	display: flex;
	justify-content: space-between;
  width: 690px;
	margin-left: 60px;
	margin-top: 28px;
	margin-bottom: 30px;
	margin-right: -10px;
}

header nav a {
  display: flex;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:last-child {
  margin-right: 65px;
}

header .logo {
  display: flex;
	margin-bottom: auto;
}

.header-img {
	margin-top: 10px;
  margin-bottom: 16px;
}

.about-header {
  margin-left: 20px;
  padding-bottom: 21px;
}

.about-header h2, p {
  font-weight: bolder;
}


.about-container {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 15px 0px 0px;
  border-top: 1px dashed black;
}

.about-block {
  width: 380px;
  border-bottom: 1px dashed black;
  margin-bottom: 35px;
  padding: 15px;
}

.about-block h3 {
  margin-top: 8px;
}

.about-block button {
  font-size: 16px;
  margin-top: 15px;
  padding: 9px 25px;
  border: 2px solid black;
  border-radius: 10px;
}

.about-together {
  display: block;
  margin-left: 15px;
  margin-bottom: 30px;
  width: 780px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}










/* buffer */
