/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
}

/* My Code Starts Here */

body {
  width: 880px;
  margin: auto;
}

header {
  display: flex;
  margin: 20px 20px;
  justify-content: space-evenly;
  align-items: baseline;
}

header nav {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

header nav a {
  text-decoration: none;
  color: black;
}

.container .jumbo {
  display: flex;
  margin-bottom: 40px;
}

p {
  margin: 20px 20 px;
  padding: 20px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 20px 20px;
  padding: 0 0 30px 0;
  border-bottom: 1px dotted black;
}

.container .about-page {
  display: flex;
  padding-bottom: 40px;
}

.box-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 20px;
  padding: 0 0 30px 0;
}
.box-section .box-content {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin: 20px 20px;
  padding: 20px 20px;
  border-bottom: 2px dotted black;
  align-content: center;
}

.box-section .box-content img{
    margin-bottom: 20px;
}


.box-section .box-content a{
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 15%

}


footer nav{
    display: flex;
    width: 70%:
    
}

footer nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    margin: 20px 20px;
    padding: 40px 40px;
    
}
footer nav a{
    text-decoration: none;
    color: white;

}