html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

nav {
	width: 800px;
	margin: 30px auto 40px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > a {
	text-decoration: none;
	color: black;
}

h2:hover {
  font-size: 24px;
  color: #212F3D;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top {
  width: 800px;
  margin: 0 auto;
}

.top > p,
.top > h2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.author {
  border: 1px dashed black;
  width: 160px;
  border-radius: 10px;
  padding: 15px;
  margin-left: 20px;
}

.middle {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.mid {
  width: 350px;
}

.mid > p,
.mid > h2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.subscribe {
  width: 800px;
  height: 250px;
  background: #EBF5FB;
  margin: 20px auto;
  border: 15px solid #212F3D;
  text-align: center;
}

.subscribe > h2 {
  font-size: 30px;
  padding-top: 20px;
  font-family: 'Quicksand', sans-serif;
}

.subscribe input {
	width: 210px;
	display: inline-block;
  text-align: center;
	border-radius: 7px;
	background: #eee;
	padding: 10px 20px;
	outline: none;
	border: none;
	color: #222;
	transition: 0.3s linear;
  margin-top: 10px;
}


.subscribe button {
	background-color: #212F3D;
	box-shadow: 0 9px 25px -5px #A9CCE3;
	font-family: 'Quicksand', sans-serif;
	padding: 15px 20px;
	margin: 20px 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1em;
	outline: none;
	border: none;
	transition: 0.3s linear;

}

footer {
    width: 100%;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
    background: black;
}

footer nav a {
    color: white;
    text-decoration: none;
}
