/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/******** css starts here ************/

.container {
    width: 95vh;
    margin: 0 auto;
}

.container {
	margin: 0 auto;
    box-sizing: border-box;
}
/* Mobile phones (portrait and landscape) ---------- */
@media screen and (max-width: 767px){
    .container {
        width: 100%;
        padding: 5px 10px;
    }
}
/* Tablets and iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .container {
        width: 750px;
        padding: 5px 10px;
    }
}
/* Low resolution desktops and laptops ---------- */
@media screen and (min-width: 1024px) {
    .container {
        width: 980px;
        padding: 5px 15px;
    }
}
/* High resolution desktops and laptops ---------- */
@media screen and (min-width: 1280px) {
    .container {
        width: 1200px;
        padding: 5px 20px;
    }
}

/*************NAV BAR ****************/

header {
    margin: 3% 0;
    display: flex;
    justify-content: space-around;
}

header nav{
    display: flex;
    justify-content: space-around;
    width: 77%;
}

header nav a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

header nav a:hover {
    transition: 0.5s;
    align-items: center;
    background-color: black;
    color: aliceblue;
}

/* header a .lambda-logo {
    display: flex;
    justify-content: flex-start;
    width: ;
} */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3%;
    /* border-bottom: 1px dashed black; */
}

h1 {
    font-size: 50px;
}

.contactus {
    text-align: center;
    margin: 5% 0;
    border-bottom: 1px dashed black;
}

.container.about-page {
    border-bottom: 1px dashed black;
    margin-bottom: 3%;
}

.container.about-page p{
    margin-bottom: 2%;
    margin-left: 2%;
}

.container.about-page h2{
    margin-left: 2%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

  input[type="submit"] {
    border: 2px solid black;
    margin: 5% 0;
    width: 20vh;
    height: 6vh;
    border-radius: 12px;
    font-size: 12px;
    background-color: white;
    margin: 0;
}

input[type="submit"]:hover {
    transition: 0.5s;
    align-items: center;
    background-color: black;
    color: aliceblue;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}