.header-content {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 30px 0px 30px 0px; 
}
.header-content nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content nav a {
    text-decoration: none;
    color: gray;
    margin-left: 80px;
}

body {
    line-height: 1;

}
.container {
    width: 800px;
    margin: auto;
    

}

<!---->

body {
	font-family: 'Handlee', cursive;
	font-size: 13pt;
	background-color: #efefef;
	padding: 10px;
	margin: 0;
}
h1 {
	font-size: 15pt;
	color: #20bcd5;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
}
h1 span {
	border: 4px dashed #20bcd5;
	padding: 10px;
}
p {
	padding: 0;
	margin: 0;
}
.img-circle {
	border: 3px solid white;
	border-radius: 50%;
}
.section {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
}
#header {
	background-image: url("https://www.sololearn.com/Uploads/header.jpg");
	background-size: cover;
}
#header img {
	display: block;
	width: 80px;
	height: 80px;
	margin: auto;
}
#header p {
	font-size: 25pt;
	color: #3b464c;
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	text-align: center;
}
.quote {
	font-size: 12pt;
	text-align: right;
	margin-top: 10px;
}
table {
	width: 100%;
	font-size: 11pt;
}
table, th, td {
	border: 2px solid #cecece;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
.selected {
	background-color: #f36f48;
	font-weight: bold;
	color: white;
}
li {
	margin-bottom: 15px;
	font-weight: bold;
}
progress {
	width: 70%;
	height: 20px;
	color: #3fb6b2;
	background: #efefef;
}
progress::-webkit-progress-bar {
	background: #efefef;
}
progress::-webkit-progress-value {
	background: #3fb6b2;
} 
progress::-moz-progress-bar {
	color: #3fb6b2;
	background: #efefef;
}
iframe, audio {
	display: block;
	margin: 0 auto;
	border: 3px solid #3fb6b2;
}
hr {
	border: 0;
	height: 1px;
	background: #f36f48;
}
form {
	text-align: center;
	margin-top: 0;
}
.submit {
	background-color: #3fb6b2;
	padding: 12px 45px;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	border: none;
	outline: none;
	margin: 0;
	font-weight: bold;
}
.submit:hover {
	background-color: #43a09d;
}
textarea {
	height: 100px;
}
input, textarea {
	margin-bottom: 10px;
	font-size: 11pt;
	padding: 15px 10px 10px;
	border: 1px solid #cecece;
	background-color: #efefef;
	color: #787575;
	border-radius: 5px;
	width: 70%;
	outline: none;
}
.face {
	transform: scale(0.4);
	margin: 0 auto;
	display: block;
	margin-top: -35px;
	margin-bottom: -25px;
}
#contacts img {
	height: 50px;
	width: 50px;
	margin-left: 7px;
	margin-right: 7px;
}
#contacts a {
	text-decoration: none;
}
#contacts img:hover {
	opacity: 0.8;
}
#contacts {
	text-align: center;
}
.copyright {
	font-size: 8pt;
	text-align: right;
	padding-bottom: 10px;
	color: grey;
}
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}