/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET ENDS HERE */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/* HOME PAGE */

.container {
    width: 800px;
    margin: 0 auto;
}

.topBar {
    display: flex;
    width: 800px;
    margin-top: 25px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 600px;
    padding-left: 50px;
}

.navBar a {
    color: black;
    text-decoration: none;
}

.topImage {
    margin: 40px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#teal {
    background: teal;
}

#gold {
    background: gold;
}

#cadetblue {
    background: cadetblue;
}

#coral {
    background: coral;
}

#crimson {
    background: crimson;
}

#forestgreen {
    background: forestgreen;
}

#darkorchid {
    background: darkorchid;
}

#hotpink {
    background: hotpink;
}

#indigo {
    background: indigo;
}

#dodgerblue {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


/* ABOUT PAGE */

.about-page .topImage {
    margin: 40px 0px 22px;
}

.about-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 2px dotted rgb(179, 170, 170);
    margin-bottom: 15px;
}

.about-text {
    margin: 0px 15px 15px;
}

.main-content{
    height: 1000px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.content-box {
    display: flex;
    width: 375px;
    height: 425px;
    margin: 10px;
    border-bottom: 1px dashed rgb(179, 170, 170);
    flex-direction: column;
    align-items: space-around;
}

.box-text{
    margin: 10px 0px;
}

.button a {
    padding: 7.5px 10px;
    border: 2px solid black;
    border-radius: 10px;
     width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.button a:hover {
    background: black;
    color: white;
}

.work-together {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 50px;
    
}