/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .hero {
    margin: 1rem 0;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.top-content .text-container.main-text {
    width: 100%;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box:first-child {
    background-color: teal;
}

.middle-content .boxes .box:nth-of-type(2) {
    background-color: gold;
}

.middle-content .boxes .box:nth-of-type(3) {
    background-color: cadetblue;
}

.middle-content .boxes .box:nth-of-type(4) {
    background-color: coral;
}

.middle-content .boxes .box:nth-of-type(5) {
    background-color: crimson;
}

.middle-content .boxes .box:nth-of-type(6) {
    background-color: forestgreen;
}

.middle-content .boxes .box:nth-of-type(7) {
    background-color: darkorchid;
}

.middle-content .boxes .box:nth-of-type(8) {
    background-color: hotpink;
}

.middle-content .boxes .box:nth-of-type(9) {
    background-color: indigo;
}

.middle-content .boxes .box:nth-of-type(10) {
    background-color: dodgerblue;
}

.middle-content.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
} 

.middle-content.about .info {
    width: 48%;
    border-bottom: 1px dashed black;
    padding: 20px 0;
}

.middle-content.about .info img {
    width: 100%;
}

.middle-content.about .info h2 {
    padding: 0.5rem 0;
}

.middle-content.about .info button {
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 0.4rem;
    cursor: pointer;
}

.middle-content.contact {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-column-gap: 30px;
}

.middle-content.contact .contact-form {
    margin-bottom: 70px;
}

.middle-content.contact .input-group {
    display: flex;
    flex-direction: column;
}

.middle-content.contact .input-group:not(:first-child) {
    margin-top: 1rem;
}

.middle-content.contact .input-group label {
    padding-bottom: 2%;
}

.middle-content.contact .input-group input,
.middle-content.contact .input-group textarea {
    padding: 3%;
    min-height: 40px;
}

.middle-content.contact .button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin: 1rem 0;
}

.middle-content.contact .button-group button {
    min-width: 45px;
    min-height: 45px;
    border: 1px solid #111;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.middle-content.contact .button-group button[type='submit'] {
    background: none;
    font-weight: 500;
}

.middle-content.contact span,
.middle-content.contact a {
    display: block;
    margin-bottom: 2%;
    color: #111;
    padding-left: 2rem;
}

.middle-content.contact a {
    text-decoration: none;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
    margin: 0 0 70px;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.2rem 0;
}

.main-navigation img {
    padding-right: 2%;
}

.main-navigation a {
    text-decoration: none;
    color: #111;
    /* max-width: 100%; */
}

.main-navigation a:hover {
    background-color: #111;
    color: #fff;
    padding: 1% 4% 0.5%;
}



footer {
    width: 100%;
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}