/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.topNavigationBar{
    display: flex;
    margin-bottom: 40px;
    margin-top: 9px;
    font-size: 14px;
    align-items: baseline;
    width:100%;
    justify-items: left;
    
    
}

nav .lambda-black{
    margin-left: 0px;
}
.jumbo{
    margin-bottom: 20px;
}

nav div{
    margin: 40px 40px 0px 44px;
    display:flex;
   
    width: 100%;
    
}
a:link, a:visited{
    text-decoration: none;
    /* color: black; */
}
.boxOne{
    background: teal;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .boxTwo{
    background: gold;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .boxThree{
    background: cadetblue;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .boxFour{
    background: coral;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .boxFive{
    background: crimson;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .boxSix{
    background: forestgreen;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .boxSeven{
    background: darkorchid;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .boxEight{
    background: hotpink;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .boxNine{
    background: indigo;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .boxTen{
    background: dodgerblue;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.about-page{
    width:80%;
    margin: auto;
}

.jumbo-about{
    width: 100%;
}

.learn{
	border: 2px black solid;
	padding: 10px 30px;
	margin-top: 25px;
	width: 145px;
	border-radius: 10px;
	font-size: 16px;
	text-align: center;
	background: #ffffff;
}

hr{
    border-top:1px dashed #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutSection{
    margin: 20px;
}

.learnMoreBoxesDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.learnMoreBoxes{
    width: 45%;
    margin: 20px 10px 10px 5px ;
}

.bottom {
    margin: 0px 20px 20px 20px;
}

.boxImages{
    width: 100%;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

