/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

header {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

header nav {
  margin-top: 40px;
  width: 610px;
  justify-content: space-between;
  display: flex;
}

header nav a {
  text-decoration: none;
  color: black;
}

header .logo {
  margin-right: 41px;
  margin-top: 20px;
}

.header-img {
  margin-bottom: 40px;
}

p {
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middle-content .boxes .box {
  width: 12.5%;
  height: 100px;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-1 {
  background-color: teal;
}

.box-2 {
  background-color: gold;
}

.box-3 {
  background-color: cadetblue;
}

.box-4 {
  background-color: coral;
}

.box-5 {
  background-color: crimson;
}

.box-6 {
  background-color: forestgreen;
}

.box-7 {
  background-color: darkorchid;
}

.box-8 {
  background-color: hotpink;
}

.box-9 {
  background-color: indigo;
}

.box-10 {
  background-color: dodgerblue;
}

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.bottom-content .text-container {
  padding-right: 4%;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

/* About */

.about-intro {
  border-bottom: 2px dotted black;
  width: 99%;
  padding: 0 2%;
  padding-bottom: 30px;
}

.about-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.3;
  margin-top: 20px;
  padding-left: 10px;
}

.about-main .child {
  width: 382px;
  margin: 20px 0;
  border-bottom: 2px dotted black;
  padding-bottom: 20px;
}

.about-main .child h2 {
  margin-top: 10px;
}

.about-main .child button {
  padding: 10px 40px;
  margin-top: 20px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  border: 2px solid black;
}

.work-together {
  margin-left: 20px;
  width: 99%;
  padding: 0 2%;
  padding-bottom: 30px;
}
