/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}
h2 {
	font-size: 1.2rem;
}
p {
    line-height: 1.4;
}

.container {
    max-width: 800px;
    margin: 20px auto 0px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
    margin-bottom: 30px;
}
@media(max-width: 750px) {
	.navbar {
        flex-direction: column;
        align-items: initial;
	}
	.nav-logo {
		margin: 0 auto 5px;
	}
}
.nav-links {
	display: flex;
    justify-content: space-between;
    width: 550px;
}
.nav-links a {
	color: gray;
	text-decoration: none;
	font-size: 1.2rem;
}
.nav-links a:hover {
	color: black;
}
@media(max-width: 750px) {
	.nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
	.nav-links a {
		margin: 0 0 3px 0;
	}
}
.header-img {
    margin-bottom: 30px;
}
@media(max-width: 750px) {
    .header-img {
        display: none;
    }
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}
@media (max-width: 750px) {
    .top-content {
        flex-direction: column;
    }
}
.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}
@media (max-width: 750px) {
    .top-content .text-container {
        width: auto;
        padding: 0 20px;
        padding-bottom: 20px;
        text-align: center;
    }
}
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}
@media (max-width: 750px) {
    .middle-content h2 {
        text-align: center;
    }
}
.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 750px) {
    .middle-content .boxes .box {
        width: 150px;
        height: 150px;
    }
}
.middle-content .boxes .box1 {
    background-color: teal;
}
.middle-content .boxes .box2 {
    background-color: gold;
}
.middle-content .boxes .box3 {
    background-color: cadetblue;
}
.middle-content .boxes .box4 {
    background-color: coral;
}
.middle-content .boxes .box5 {
    background-color: crimson;
}
.middle-content .boxes .box6 {
    background-color: forestgreen;
}
.middle-content .boxes .box7 {
    background-color: darkorchid;
}
.middle-content .boxes .box8 {
    background-color: hotpink;
}
.middle-content .boxes .box9 {
    background-color: indigo;
}
.middle-content .boxes .box10 {
    background-color: dodgerblue;
}
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}
@media (max-width: 750px) {
    .bottom-content {
        flex-direction: column;
        margin: 0 30px;
    }
    .bottom-content .text-container {
        margin-bottom: 20px;
    }
}
.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
@media (max-width: 750px) {
    footer nav {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
    }
    footer nav a {
        margin-bottom: 3px;
    }
}
/* *******STYLINGS FOR ABOUT PAGE **************** */

.about-summary {
    padding: 30px;
    border-bottom: 2px dotted black;
    margin-bottom: 30px;
}
.about-header-img {
    margin-bottom: 0px;
}
.services-blurbs {
    display: flex;
	flex-wrap: wrap;
}
.service-card {
    border-bottom: 2px dotted;
    width: 370px;
    margin: 15px;
    padding-bottom: 20px;
}
.service-card img, .service-card p {
    margin-bottom: 10px;
}
.service-card button {
    padding: 10px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}
.service-card button:hover {
    border-color: #232426;
    background-color: #232426;
    color: white;
}
.services-summary {
    padding: 30px;
    margin-bottom: 30px;
}