/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.container2 {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 800px;
    margin: auto;
    background: black;

}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* My Code Starts here */

* {
    
    box-sizing: border-box;

}

.TopInfo {
    width: 800px;
    margin: auto;
    border-bottom: 2px;
    border-bottom-color: black;
}

.bottom {
    
        width: 800px;
        margin: auto;
        
}
.container {

    width: 800px;
    margin: auto;
    border-top-color: black;
    border-style: dashed;
    border-width: 2px;
    border-bottom-color: black;
    border-left-color: white;
    border-right-color: white;
}

.container2 {
    width: 800px;
    margin: auto;
    border-top-color: white;
    border-style: dashed;
    border-width: 2px;
    border-bottom-color: black;
    border-left-color: white;
    border-right-color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.3;
    flex-flow: row;
    
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.3;
    flex-flow: row;
    
}

.container .sub1 {
     
    padding: 20px;
    border: 1px transparent white;
    width: 420px;
    background: white;
    margin: 20px 0;
     
}

.container2 .sub2 {
     
    padding: 20px;
    border: 1px transparent white;
    width: 420px;
    background: white;
    margin: 20px 0;
      
     
}

/* Top Nav Links */

.TopNav {
    
    display: flex;		
	flex-direction: row;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 50px;
    align-content: flex-start;

}

.TopNav a {

    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 0px 30px 0px 30px;
   

}

#TopImage {

    width: 800px;
    margin: 0 auto;
       
}
 
.container .about-page {

    border-bottom-color: black;
    border-bottom-width: 2px;

}


.logo {
    
    padding: 0px 30px 0px 0px;
    width: 20%;
    margin: 0 auto;
}

p {

    font-size: 14px

}

button {

    border-radius: 5px;
    background-color: white;
    border-color: black;
    padding: 3px 8px 3px 8px;

}