/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}


h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
     flex-direction: row;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

}
body {
    width:900px;
    margin:auto 0;
 }
 .navone{
     display:flex;
     justify-content: space-around;
     width:850px;
     margin-top:100px;
     margin-bottom:15px;
     margin-left: 300px;

 }
.about{
	margin-top:25px;


}
.logo{
	display:flex;
	justify-self: center;
	margin-top:10px;
	margin-bottom:10px;

}

	#A{
		background-color: red;
	}
	#B{
		background-color: blue;
	}
	#C{
		background-color: green;
	}
	#D{
		background-color: yellow;
	}
	#E{
		background-color: gold;
	}
	#F{
		background-color: orange;
	}
	#G{
		background-color: purple;
	}
	#H{
		background-color: olive;
	}
	#I{
		background-color: violet;
	}
	.container-main{
		display:flex;
		flex-flow: row wrap;
		justify-content: space-around;
        align-content: space-between;
		width:800px;
		margin:0 auto;
		margin-bottom:5px;
        border: 3px solid black;    
	}

    .container-sections{
        width:380px;
        border-bottom: 5px dashed, red;
        margin-bottom:10px;

}

    h2{
        margin-top:30px;
        margin-right: 30px;
}

    p{
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom:1px dashed black;
    
}


    body, main, div{
        display: flex;
    
    
}

    body, div{
        flex-direction:column;
}
    .footer{
        display:flex;
        flex-flow: row nowrap;
}
    #footers{
        flex-flow:row nowrap;
        justify-content:space-between;
        margin: 0 auto;
}

    .container-about{
        width: 800px;
        margin:0 auto;
    
    
}
        
   

    .button{
        width:90px;
        border-radius:25px;
        border:1px solid black;
}

.img-tag{
    margin-top: 15px;
}

a:hover{
    color:red;
    
}


     
