/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/*home header*/

header { /*top navigation bar*/
    padding-top: 30px;
    border-top: 35px solid black;
	display: flex;    
    vertical-align: top;
	margin-top: 30px;	
	align-content: flex-end;
    margin-bottom: 12px;
}

header nav { /*top nav bar*/
    margin: 20px 0 20px 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
   
}
 header nav a { /*words in nav bar*/
    display: flex;
    justify-content: space-between;
	align-items: flex-end;
	margin-right: 20px;
 	font-family: 'Rubik';
 	font-size: 18px;
    text-decoration: none;
    color: black;
 }

header nav a:hover {
    text-decoration: underline;
}

header .logo { /*lambda logo on nav bar*/
    align-self: flex-start;
    margin-top: 1px;
}

/*HOME*/

.top-content { /*top of jumbo to bottom of p "the past"*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 8px;
    border-bottom: 1px dashed black;
}
.jumbo {
    width: 100%;
    margin-bottom: 20px;
}

.top-content .text-container { /*the future the past*/
    width: 48%;
    padding: 0 1%;
    padding-bottom: 10px;  
}


.middle-content { /*space above "thats No Moon"*/
    padding: 0 2%;
     margin-bottom: 0;
}

.middle-content h2 { /*space around "Why did it have to be.."*/
    text-align: left;
    padding: 2px;
    margin-bottom: 10px;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box1 {
    background: teal;
}
.middle-content .boxes .box2 {
    background: gold;
}
 .middle-content .boxes .box3 {
    background: cadetblue;
}
 .middle-content .boxes .box4 {
    background: coral;
}
 .middle-content .boxes .box5 {
    background: crimson;
}
 .middle-content .boxes .box6 {
    background: forestgreen;
}
 .middle-content .boxes .box7 {
    background: darkorchid;
}
 .middle-content .boxes .box8 {
    background: hotpink;
}
 .middle-content .boxes .box9 {
    background: indigo;
}
 .middle-content .boxes .box10 {
    background: dodgerblue;
}

.bottom-content {
    padding-top: 4%;
    border-top: 1px dashed black;
    display: flex;
    margin: 15px 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*about.html*/

.about {
    width: 100%;
    border-bottom: 1px dashed black;
    padding-bottom: 23px;
}

.about .jumbo-about {
    width: 1300px;
}


.contentContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
 .about-content {
    height: 50%;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3%;
    border-bottom: 1px dashed black;
}
 .about-content a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 110px;
    height: 40%;
    margin-top: 20px;
    padding: 1px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}
 .about-content h2 {
    margin-top: 10px;
 }

.about-content .pic {
    width: 100%;
}
.button {
    padding: 5px 5px 5px 5px;
    margin: 22 22 22 22px;
    background: white;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.middle-about img {
    padding: 9px 0;
}

.work-together {
    margin: 32px;
    padding-bottom: 15px
}

