/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------
  page
--------------------------------------*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
}

p {
  line-height: 1.4;
}

/*--------------------------------------
  navbar
--------------------------------------*/

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;
  padding: 20px;

  background-color: White;
  color: Black;
}
.navbar .nav-wrapper {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-flow: row nowrap;
}
.navbar nav {
  width: 643px;
  padding-bottom: 2.5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: flex-end;
  align-items: flex-end;
}

.navbar nav a {
  color: inherit;
  text-decoration: none;

  font-size: 14px;
}

.navbar nav a:hover {
  text-decoration: underline;
}

/*--------------------------------------
  header
--------------------------------------*/

header {
  margin-top: 80px;
  padding: 20px 0;
}

/*--------------------------------------
  main
--------------------------------------*/

.container {
  width: 800px;
  margin: 0 auto;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.top-content .text-container {
  padding-bottom: 20px;
}

.home-page .top-content .text-container {
  width: 48%;
  padding-right: 1%;
  padding-left: 1%;
}

.about-page .top-content .text-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middle-content .boxes .box {
  width: 12.5%;
  height: 100px;
  background: black;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.about-page .bottom-content {
  padding: 20px 0;
}

.bottom-content .text-container {
  padding-right: 4%;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}

/*--------------------------------------
  footer
--------------------------------------*/

footer {
  width: 100%;
  background-color: black;
  color: white;
}

footer nav {
  width: 60%;
  padding: 20px 2%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
}

footer nav a {
  color: inherit;
  text-decoration: none;
}
footer nav a:hover {
  text-decoration: underline;
}

/*--------------------------------------
  boxes
--------------------------------------*/

.box#box-1 {
  background-color: Teal;
}
.box#box-2 {
  background-color: Gold;
}
.box#box-3 {
  background-color: CadetBlue;
}
.box#box-4 {
  background-color: Coral;
}
.box#box-5 {
  background-color: Crimson;
}
.box#box-6 {
  background-color: ForestGreen;
}
.box#box-7 {
  background-color: DarkOrchid;
}
.box#box-8 {
  background-color: HotPink;
}
.box#box-9 {
  background-color: Indigo;
}
.box#box-10 {
  background-color: DodgerBlue;
}