/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* padding: 20px 2%; */
    font-size: 14px;

}

footer nav a {
    color: white;
    text-decoration: none;
    background-color: black;
    display: block;
    padding: 30px;


}

footer nav a:hover {
    color: black;
    background: white;
    text-decoration: none;
}

.active{
    background: white;
    color: black;
}

/* Index.html CSS*/
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 25px 0;
}

.a-link{
    text-decoration: none;
    color: black;  
}
.header-img{
    margin: 10px 0 20px 0;
}
.middle-content .boxes .box1{
  background: teal;
}
.middle-content .boxes .box2{
    background: gold;
  }
  .middle-content .boxes .box3{
    background: cadetblue;
  }
  .middle-content .boxes .box4{
    background: coral;
  }
  .middle-content .boxes .box5{
    background: crimson;
  }
  .middle-content .boxes .box6{
    background: forestgreen;
  }
  .middle-content .boxes .box7{
    background: darkorchid;
  }
  .middle-content .boxes .box8{
    background: hotpink;
  }
  .middle-content .boxes .box9{
    background: indigo;
  }
  .middle-content .boxes .box10{
    background: dodgerblue;
  }

.header-img{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


  /*About.html CSS*/
.about{
  margin-left: 20px; 
}
  .flex-section-1, .flex-section-2{
      display: flex;
      
  }

  .divider{
      border: .5px dashed black;
      margin: 25px 0;
  }

  .divider-content{
    border: .5px dashed black;
    margin-top: 25px;
    margin-bottom: 55px; 
    width: 93%;
  }

  .closing{
      margin-bottom: 25px;
  }
.content-img {
    margin-bottom: 10px;
}
.btn-learn{
    border: 2px solid black;
    border-radius: 8px;
    padding: 7px 15px;
    background: white;
    margin-top: 15px;
    outline: none;
}




















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .top-content{
        max-width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .nav-container{
        max-width: 100%;
        display: none;
    }
    .header-img{
        max-width: 100%;
        width: 50%;
    }

    .boxes{
        max-width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    .bottom-content{
        max-width: 100%;
        flex-direction: column;
        width: 50%;
        text-align: center;
    }

    footer{
        display: none;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}