/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}*/

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}


/* Navigation Bar */
.navbar{
    margin-top: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    -o-table-baseline: initial;
}
.navbar > a{
    text-decoration: none;
    color: black;
    height: 60px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 20px 30px 20px;
}
.container {
    width: 800px;
    margin: 0 auto;
}
/* Images*/
.lambda-logo{
    padding-bottom: 50px;
}
/* Coloring Boxes */

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#box-1{
    background: teal;
}
#box-2{
    background: gold;
}
#box-3{
    background: cadetblue;
}
#box-4{
    background: coral;
}
#box-5{
    background: crimson;
}
#box-6{
    background: forestgreen;
}
#box-7{
    background: darkorchid;
}
#box-8{
    background: hotpink;
}
#box-9{
    background: indigo;
}
#box-10{
    background: dodgerblue;
}
.middle-content .boxes div{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* About Page */
.about-section{
    border-bottom: black dashed 1px;
}
.middle-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
.middle-content-about{
    width: 45%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: black dashed 1px;
}
.learn-more{
    border: 2px black solid;
    background: white;
    font-size: 1.1rem;
    padding: 5px 13px 5px 13px;
    border-radius: 8px;
    margin-bottom: 25px;
    cursor: pointer;
}
.middle-content-about h2 {
    padding: 0px;
}