/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}


/* Navigation Bar */

header {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.logo {
    display: block;
    width: 75%;
}

.site-navigation .logo-nav {
    flex: 1;
}

.site-navigation ul {
    display: flex;
    text-align: right;
    align-items: flex-end;
}

.site-navigation li {
    flex: 1;
}

.site-navigation a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.banner {
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* end navigation */


.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* box colors */
#teal {
    background-color: teal;
}

#gold {
    background-color: gold;
}

#cadetblue {
    background-color: cadetblue;
}

#coral {
    background-color: coral;
}

#crimson {
    background-color: crimson;
}

#forestgreen {
    background-color: forestgreen;
}

#darkorchid {
    background-color: darkorchid;
}

#hotpink {
    background-color: hotpink;
}

#indigo {
    background-color: indigo;
}

#dodgerblue {
    background-color: dodgerblue;
}

/* end colors */

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


/* About Page */
.jumbo-about {
    width: 100%;
}

.about-section {
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.about-section,
.bottom-section {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.row {
    display: flex;
    align-items: center;
    border-top: 2px dashed solid;
}

.row h2 {
    padding-top: 20px;
}

.row p {
    padding-bottom: 10px;
}

/* button */
button {
    padding: 10px 0;
    width: 35%;
    border-radius: 20px;
    margin-bottom: 20px;
    border: solid black;
}

button span {
    font-weight: bold;
    color: black;
    font-size: 15px;
}

/* button end */


.bottom-border {
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.bottom-section {
    padding-bottom: 40px;
    padding-top: 30px;
}
