/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    font-weight: 650;
    margin: 10px 0px;
    /* margin-bottom: 15px; */
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
    padding: 10px;
}

.container {
    width: 800px;
    margin: 0 auto;
}
@media screen and  (max-width: 799px) {
    .container {
        width: 100%;
        margin: 0px 10px;
    }
}

/* general styling below */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.v-margin {
    margin: 20px 0px;
}
.bottom-padding {
    padding-bottom: 20px;
}

header {
    display: flex;
    flex-direction: column;
}
header .nav {
    display: flex;
    align-items: baseline;
}
header .nav nav {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: baseline;
}
header .nav nav a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

.dotted-bottom-border {
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
}
.half-width{
    width: 45%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.third-width{
    width: 32%;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media screen and  (max-width: 500px) {
    .third-width {
        width: 100%;
    }
}

@media screen and  (max-width: 600px) {
    header .nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    header .nav img {
        width: 40%;
    }
    header .nav nav {
        width: 100%;
        margin: 15px;
    }
}

@media screen and  (max-width: 700px) {
    .half-width {
        width: 100%;
    }
    section.main {
        justify-content: center;
    }
}

/* index.html-specific styling below */

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-bottom: 20px; */
    border-bottom: 1px dashed black;
}

.middle-content {
    /* margin-bottom: 20px; */
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    /* padding: 0 2%; */
    /* margin-bottom: 0; */
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and  (max-width: 600px) {
    .middle-content .boxes .box {
        width: 35%;
    }
}

/* boxes */
.middle-content .boxes .teal {
    background: teal;
}
.middle-content .boxes .gold {
    background: gold;
}
.middle-content .boxes .cadetblue {
    background: cadetblue;
}
.middle-content .boxes .coral {
    background: coral;
}
.middle-content .boxes .crimson {
    background: crimson;
}
.middle-content .boxes .forestgreen {
    background: forestgreen;
}
.middle-content .boxes .darkorchid {
    background: darkorchid;
}
.middle-content .boxes .hotpink {
    background: hotpink;
}
.middle-content .boxes .indigo {
    background: indigo;
}
.middle-content .boxes .dodgerblue {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    /* margin: 0 2% 20px; */
    justify-content: space-around;
}

/* about styling below */

.main button {
    width: 30%;
    height: 30px;
    border-radius: 9px;
    background: white;
}