/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}

    header nav {
        display: flex;
        justify-content: space-between;
        width: 75%;
        justify-content: space-around;
    }

.top-content {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dashed black;
}

    .top-content .text-container {
        width: 48%;
        padding: 0 1%;
        padding-bottom: 20px;
        margin-top: 25px;
    }

h2 {
    font-weight: bold;
}

.middle-content {
    margin-bottom: 25px;
    border-bottom: 1px dashed black;
    margin-top: 25px;
}

    .middle-content h2 {
        padding: 0 2%;
        margin-bottom: 0;
    }

    .middle-content .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

        .middle-content .boxes .box {
            width: 12.5%;
            height: 100px;
            background: black;
            margin: 20px 2.5%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .middle-content .boxes .box1 {
            background: teal;
        }

        .middle-content .boxes .box2 {
            background: gold;
        }

        .middle-content .boxes .box3 {
            background: cadetblue;
        }

        .middle-content .boxes .box4 {
            background: coral;
        }

        .middle-content .boxes .box5 {
            background: crimson;
        }

        .middle-content .boxes .box6 {
            background: forestgreen;
        }

        .middle-content .boxes .box7 {
            background: darkorchid;
        }

        .middle-content .boxes .box8 {
            background: hotpink;
        }

        .middle-content .boxes .box9 {
            background: indigo;
        }

        .middle-content .boxes .box10 {
            background: dodgerblue;
        }

.bottom-content {
    display: flex;
    margin: 0 2% 25px;
    justify-content: space-around;
}

    .bottom-content .text-container {
        padding-right: 4%;
    }

        .bottom-content .text-container:last-child {
            padding-right: 0;
        }

footer {
    width: 100%;
    background: black;
}

    footer nav {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 2%;
        font-size: 14px;
    }

        footer nav a {
            color: white;
            text-decoration: none;
        }

/* About-Page-Specific*/

.about-top {
    padding-bottom: 20px;
    border-bottom: 1px dashed black;
}

.about-top .text-container {
    padding: 0 1%;
    padding-bottom: 10px;
    margin-top: 25px;
}

.about-middle {
    margin-top: 25px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
}

.about-middle .text-container {
    padding: 0 1%;
    padding-bottom: 10px;
    margin-top: 25px;
}

.about-middle .about-content .about-block {
    width: 48%;
    margin-bottom: 15px;
    border-bottom: 1px dashed black;
    margin-top: 15px;
}

.about-bottom .text-container {
    margin-bottom: 30px;
    margin-top: 25px;
}

button {
    background: white;
    border-radius: 7px;
    margin-top: 15px;
    width: 32%;
    border-width: 2px;
    border-color: black;
    padding: 5px;
}


/* Phone */

@media (max-width: 400px) {

    header {
        margin-bottom: 0;
    }

        header img {
            width: 40%;
        }

        header nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 2px;
        }

            header nav a {
                border-top: 1px solid grey;
                width: 100%;
                padding: 25px;
                margin: 0;
                font-weight: bold;
            }

    .top.content {
        display: flex;
        flex-direction: column;
    }

    .top-content .text-container {
        width: 100%;
    }

    .middle-content .boxes {
        display: flex;
        flex-direction: row-reverse;
    }

        .middle-content .boxes .box {
            width: 25%;
        }

        .middle-content .boxes .box10 {
            display: none;
        }

    .bottom-content {
        display: flex;
        flex-direction: column;
    }

        .bottom-content .text-container {
            margin: 15px 0;
        }

    footer {
        display: flex;
        justify-content: center;
    }

        footer nav {
            width: 85%;
            display: flex;
            justify-content: space-between;
        }
}

 /* TABLET VIEW */

@media (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
    }

    header img {
        width: 40%;
    }

    .top-content {
        margin: 25px;
    }

    .middle-content {
        margin-top: 30px;
    }

}