    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    * {
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 18px;
        margin-bottom: 15px;
        font-family: 'Rubik', sans-serif;
    }
    
    p {
        line-height: 1.4;
    }
    /* Container Styles */
    
    .container {
        width: 800px;
        margin: 0 auto;
    }
    /* Header Styles */
    
    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
    
    #logo:hover {
        background-image: url('../img/lambda-red.png');
    }
    
    nav {
        width: 600px;
        display: flex;
        justify-content: space-around;
    }
    
    nav a {
        color: black;
        text-decoration: none;
    }
    
    nav a:hover {
        color: #a0001e;
        transform: scale(1.5);
    }
    /* Top Content Styles */
    
    .top-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
        border-bottom: 1px dashed black;
    }
    
    .top-content .text-container {
        width: 48%;
        padding: 0 1%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .about-page .top-content .text-container {
        width: 100%;
    }
    /* Middle Content Styles */
    
    .middle-content {
        margin-bottom: 20px;
        border-bottom: 1px dashed black;
    }
    
    .about-page .middle-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        border: none;
    }
    
    .middle-content h2 {
        padding: 0 2%;
        margin-bottom: 0;
    }
    
    .middle-content .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .middle-content .boxes .box {
        width: 12.5%;
        height: 100px;
        border: 2px dotted black;
        margin: 20px 2.5%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box:first-child {
        color: teal;
        border: 2px dotted teal;
    }
    
    .middle-content .boxes .box:first-child:hover {
        background-color: teal;
        color: white;
    }
    
    .middle-content .boxes .box:nth-child(2) {
        color: gold;
        border: 2px dotted gold;
    }
    
    .middle-content .boxes .box:nth-child(2):hover {
        background-color: gold;
        color: white;
    }
    
    .middle-content .boxes .box:nth-child(3) {
        color: cadetblue;
        border: 2px dotted cadetblue;
    }
    
    .middle-content .boxes .box:nth-child(3):hover {
        background-color: cadetblue;
        color: white;
    }
    
    .middle-content .boxes .box:nth-child(4) {
        color: coral;
        border: 2px dotted coral;
    }
    
    .middle-content .boxes .box:nth-child(4):hover {
        background-color: coral;
        color: white;
    }
    
    .middle-content .boxes .box:nth-child(5) {
        color: crimson;
        border: 2px dotted crimson;
    }
    
    .middle-content .boxes .box:nth-child(5):hover {
        background-color: crimson;
        color: white;
    }
    
    .middle-content .boxes .box:nth-child(6) {
        color: forestgreen;
        border: 2px dotted forestgreen;
    }
    
    .middle-content .boxes .box:nth-child(6):hover {
        background-color: forestgreen;
        color: white;
    }
    
    .middle-content .boxes .box:nth-child(7) {
        color: darkorchid;
        border: 2px dotted darkorchid
    }
    
    .middle-content .boxes .box:nth-child(7):hover {
        background-color: darkorchid;
        color: white;
    }
    
    .middle-content .boxes .box:nth-child(8) {
        color: hotpink;
        border: 2px dotted hotpink;
    }
    
    .middle-content .boxes .box:nth-child(8):hover {
        background-color: hotpink;
        color: white;
    }
    
    .middle-content .boxes .box:nth-child(9) {
        color: indigo;
        border: 2px dotted indigo;
    }
    
    .middle-content .boxes .box:nth-child(9):hover {
        background-color: indigo;
        color: white;
    }
    
    .middle-content .boxes .box:last-child {
        color: dodgerblue;
        border: 2px dotted dodgerblue;
    }
    
    .middle-content .boxes .box:last-child:hover {
        background-color: dodgerblue;
        color: white;
    }
    
    .about-page .middle-content .text-container {
        width: 48%;
        padding: 0 1%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .about-page .middle-content .text-container h2 {
        padding: 5px 0;
    }
    
    .middle-content .text-container img {
        width: 100%;
    }
    
    #office,
    #meeting {
        border-bottom: 1px dashed black;
    }
    
    button {
        border: 2px solid black;
        border-radius: 5px;
        background-color: transparent;
        width: 33%;
        padding: 5px;
        margin-top: 10px;
    }
    
    button:hover {
        background: #72346e;
        background: -webkit-linear-gradient(top right, #72346e, #e69e5e);
        background: -moz-linear-gradient(top right, #72346e, #e69e5e);
        background: linear-gradient(top right, #72346e, #e69e5e);
        color: white;
        border: 1px dashed #72346e;
    }
    /* Bottom Content Styles */
    
    .bottom-content {
        display: flex;
        margin: 0 2% 20px;
        justify-content: space-around;
    }
    
    .bottom-content .text-container {
        padding-right: 4%;
    }
    
    .bottom-content .text-container:last-child {
        padding-right: 0;
    }
    
    footer {
        width: 100%;
        background: black;
    }
    
    footer nav {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 2%;
        font-size: 14px;
    }
    
    footer nav a {
        color: white;
        text-decoration: none;
    }