/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.testing * {
    border: 1px solid palevioletred;
}

header {
    display: flex;
    margin: 1em 0 1em 0;
}

.jumbo {
    margin: 0 0 1.5em 0;
}

header nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
}

header nav img {
    align-self: baseline;
    height: 40px;
}

header nav a {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    transition: background 0.5s linear;
    font-size: 0.9em;
}

header nav a:hover {
    background-color: lightgray;
    color: darkgray;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

div.box:nth-child(1) {
    background: teal;
}

div.box:nth-child(2) {
    background: gold;
}

div.box:nth-child(3) {
    background: cadetblue;
}

div.box:nth-child(4) {
    background: coral;
}

div.box:nth-child(5) {
    background: crimson;
}

div.box:nth-child(6) {
    background: forestgreen;
}

div.box:nth-child(7) {
    background: darkorchid;
}

div.box:nth-child(8) {
    background: hotpink;
}

div.box:nth-child(9) {
    background: indigo;
}

div.box:nth-child(10) {
    background: dodgerblue;
}

.about-page hr{
    border-top: 1px dashed black;
}

.about-page summary {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0.5em auto;
    justify-content: center;
}

.about-page summary h2 {
    width: 95%;
}

.about-page summary p {
    width: 95%;
    margin-bottom: 1em;
}

.about-page summary hr {
    width: 100%;
    margin-bottom: 1.5em;
}

.about-page .top_columns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.9em;
}

.about-page section .column {
    justify-items: center;
}

.about-page section .column img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}

.about-page section .column p {
    margin-bottom: 1.5em;
}

.about-page section .column {
    width: 46%;
}

.about-page button {
    width: 10em;
    height: 2.9em;
    background-color: white;
    border: 2px black solid;
    border-radius: 8px;
    margin-bottom: 10px;
}

.about-page button a { 
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.about-page .bottom_columns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5em;
}

.about-page .outro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-page .outro h2 {
    width: 94%;
}

.about-page .outro p {
    width: 94%;
    margin-bottom: 2em;
}