/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
    margin-top: 20px; 
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}




/* student styling below */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;
}
.top-nav a {
    color: black;
    text-decoration: none;
    padding-right: 20px;
}
#box1 {
    background-color: teal;
}
#box2 {
    background-color: gold;
}
#box3 {
    background-color: cadetblue;
}
#box4 {
    background-color: coral;
}
#box5 {
    background-color: crimson;
}
#box6 {
    background-color: forestgreen;
}
#box7 {
    background-color: darkorchid;
}
#box8 {
    background-color: hotpink;
}
#box9 {
    background-color: indigo;
}
#box10 {
    background-color: dodgerblue;
}


/* this is the start of the about page */
.about-page header h2 {
    padding: 15px 20px 0;
}
.about-page header p {
    padding: 0 20px 15px;
}

.about-page .about-main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    border-top: 2px dashed black;
}
.about-page .about-main .about-card-container {
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-bottom: 2px dashed black;
}
.about-card-container h3 {
    padding-top: 15px;
}
.about-card-container button {
    padding: 10px 0;
    margin: 15px 0;
    background-color: white;
    width: 130px;
    border-radius: 10px;
}
.cta-section {
    padding: 25px;
}
