/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset */
/* Begin general styles */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.container header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
    justify-content: flex-end;
}


.container header .navContainer {
    width: 800px;
    height: 95px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.container header .navContainer .logo {
    height: 40px;
    display: inline-block;
}

.container header .navContainer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* align-items: center; */
}

.container header .navContainer nav a {
    width: 100px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.container header .navContainer nav .active {
    font-weight: bold;
    font-size: 110%;
}

.container header .navContainer nav a:hover {
    font-weight: bold;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* End General styles */
/* Begin Index styles */

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .teal {
    background-color: teal;
}
.middle-content .boxes .gold {
    background-color: gold;
}
.middle-content .boxes .cadetblue {
    background-color: cadetblue;
}
.middle-content .boxes .coral {
    background-color: coral;
}
.middle-content .boxes .crimson {
    background-color: crimson;
}
.middle-content .boxes .forestgreen {
    background-color: forestgreen;
}
.middle-content .boxes .darkorchid {
    background-color: darkorchid;
}
.middle-content .boxes .hotpink {
    background-color: hotpink;
}
.middle-content .boxes .indigo {
    background-color: indigo;
}
.middle-content .boxes .dodgerblue {
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/* End Index styles */
/* Begin About styles */

.about-top-content {
    padding: 0 20px 20px;
    border-bottom: 1px dashed black;
}

.about-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0;
}

.about-middle-content .about-box img {
    width: 100%;
}

.about-middle-content .about-box {
    width: 46%;
    display: inline-block;
    padding: 0 0 20px;
    margin: 15px 0 30px;
    border-bottom: 1px dashed black;
}

.about-middle-content .about-box h2 {
    margin-top: 2%;
}

.about-middle-content .about-box a.button {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 9px 20px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 10%;
}

.about-middle-content .about-box a.button:hover {
    background-color: #85acbf;
    color: white;
}

.about-bottom-content {
    padding: 0 20px 20px;
    margin-bottom: 10px;
}


/* End About styles */
/* Begin Contact styles */


.contact-top-content {
    padding: 0 20px 20px;
    border-bottom: 1px dashed black;
}

.contact-middle-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 30px 0;
}

.contact-middle-content img{
    width: 340px;
    height: 320px;
    border-radius: 50%;
}

.contact-form {
    width: 400px;
    padding: 40px 20px;
}

.contact-form label {
    margin: 5px 0;
}

.contact-form input {
    margin: 5px 0 20px;
    width: 100%;
}

.contact-form textarea {
    /* height: 20%; */
    width: 100%;
}

.contact-form .button {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 12%;
}

.contact-form .button:hover {
    background-color: #0380C0;
    color: white;
}

.contact-bottom-content {
    padding: 40px 20px;
    text-align: right;
    border-top: 1px dashed black;
}