/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;

}


h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
/*BEGINS INDEX.HTML */
Body {
    margin: 0 15%;
}
/*HEADER/ NAVIGATION SECTION*/
#home{
    display: flex;
    flex-direction: row-reverse;
}

#home nav {
    margin: 3%;
    width:80%;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end;    
}

nav a {
    text-decoration: none;
}

nav a:hover {
    border: 1px solid black;
    color:#DC143C;
    animation-name: tabs;
    animation-duration: 2s;
}

@keyframes tabs {
    from {background-color: #C8E2C8;}
    to {background-color: black;}
}

.logo {
    margin: 2% 0;    
}

.image-top {
    margin: 3% auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
/*ENDS HEADER/NAVIGATION*/
/*1ST SECTION .TOP-CONTENT (THE FUTURE/PAST)*/
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}
/*ENDS 1ST SECTION .TOP-CONTENT (THE FUTURE/PAST)*/
/*2ND SECTION .MIDDLE-CONTENT (WHY DID IT HAVE TO BE BOXES)*/
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: teal;    
}

.box2 {
    background-color:gold;    
}

.box3 {
    background-color:cadetblue;   
}

.box4 {
    background-color:coral;    
}

.box5 {
    background-color:crimson;    
}

.box6 {
    background-color:forestgreen;    
}

.box7 {
    background-color:darkorchid;    
}

.box8 {
    background-color:hotpink;    
}

.box9 {
    background-color:indigo;   
}

.box10 {
    background-color: dodgerblue;   
}

/*ENDS 2ND SECTION .MIDDLE-CONTENT (WHY DID IT HAVE TO BE BOXES)*/
/*3RD SECTION .BOTTOM-CONTENT (THAT'S/ NO/ MOON)*/
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}
/*ENDS 3RD SECTION .BOTTOM-CONTENT (THAT'S/ NO/ MOON)*/
/*FOOTER SECTION*/
footer {
    width: 100%;
    background: black;
}

footer nav {
    margin-right: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none; 
}
/*ENDS FOOTER SECTION, ENDS INDEX.HTML*/

/*BEGINS ABOUT.HTML*/
/*.CONTAINER (ABOUT)*/
section.container {
    border-bottom: 1px dashed black;

}
div.about p{
    width: 100%;
    margin: 2.5%;
}
/*ENDS .CONTAINER (ABOUT)*/ 
/*.FIRST-SECTION: .STRATEGY/ .HOW-WE-WORK*/
.first-section {
    display:flex;
    width: 100%;
}
div.strategy img {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.strategy {
    width:45%;
    margin: 2.5%;
    border-bottom: 1px dashed black;
}

div.how-we-work img {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.how-we-work {
    width: 45%;
    margin: 2.5%;
    border-bottom: 1px dashed black;
}
/*ENDS .FIRST-SECTION: .STRATEGY/ .HOW-WE-WORK*/
/*.SECOND-SECTION: .PLACES/ .COLLABORATION*/
.second-section {
    display: flex;
    justify-content: space-evenly;
}
.places img {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.places {
    margin: 2.5%;
    border-bottom: 1px dashed black;
}

div.collaboration img {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.collaboration {
    margin: 2.5%;
    border-bottom: 1px dashed black;
}
/*ENDS .SECOND-SECTION: .PLACES/ .COLLABORATION*/
/*sTYLE FOR ALL BUTTONS*/
button {
    margin: 3% 0;
    padding: 5px 30px;
    border-radius: 5px;
}
button:hover {
    background-color: darkgrey;
    border-radius: 10px;
    padding: 20px;
}
/*ENDS BUTTON STYLES*/
/*lETS WORK TOGETHER SECTION BOTTOM OF ABOUT.HTML*/
section {
    margin-bottom: 4%;
}
/*ENDS LET'S WORK TOGETHER*/

/*MEDIA QUERY BEGINS FOR INDEX.HTML (500PX)*/ 
@media (max-width: 500px) {
    div#home {
        width: 100%;
        flex-direction: column-reverse;       
    }/*ENDS DIV#HOME*/   
    
    div#home nav {
        width: 100%;              
    } /*ENDS NAV*/      

    .logo {
        margin: 1.5%;
        width: 40%;
      }/*ENDS LOGO*/
    }/*ENDS MEDIA*/
/*ENDS HEADER MEDIA QUERY*/
@media (max-width: 500px){
    section.top-content{
        width: 100%;
        display:flex;
        flex-direction: column;
      }/*ENDS SECTION.TOP-CONTENT*/
      
     .top-content .text-container {
              width: 100%;
              margin: 5% 0;
          }/*ENDS .TOP-CONTENT .TEXT-CONTAINER*/       
}/*ENDS MEDIA QUERY*/
/*Ends SECTION TOP-CONTENT*/
@media (max-width: 500px) {
    section.bottom-content {
        display:flex;
        flex-direction: column;
    }/*ends SECTION.BOTTOM-CONTENT*/
    div.text-container {
        margin: 10% 0;
    }/*ENDS DIV.TEXT-CONTAINER*/
    section.bottom-content div.text-container p {
        padding-bottom:10%;
        border-bottom: 1px dashed black;
    }/*ENS DIV.TEXT-CONTAINER P*/
    footer nav {
        margin: 0 auto;
    }/*ENDS FOOTER NAV*/
}/*ENDS MEDIA QUERY*/

/*END OF MEDIA QUERY FOR INDEX.HTML*/

/*BEGINS MEDIA QUERY FOR ABOUT.HTML*/
@media (max-width: 500px) {
    h2 {
        margin-top: 2.5%;
    }/*ENDS H2*/
    .first-section {
        flex-direction:column;
    }/*eND OF .FIRST-SECTION*/
    .strategy {
        margin: 5% 0;
        width: 100%;
    }/*ENDS .STRATEGY*/
    .how-we-work {
        margin: 5% 0;
        width:100%;
    }/*ENDS .HOW-WE-WORK*/
}/*ENDS MEDIA QUERY*/
@media (max-width: 500px) {
    .second-section {
        flex-direction:column;
    }/*ENDS .SECOND-SECTION*/
    .places {
        margin: 5% 0;
        width: 100%;
    }/*ENDS .PLACES*/
    .collaboration {
        margin: 5% 0;
        width:100%;
    }/*ENDS COLLABORATION*/
}/*ENDS MEDIA QUERY*/