* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-width:100%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    display:flex;
    padding:20px 0;
}

.logo {
    width:19%;
}

.top-nav {
    width:79%;
}

nav ul {
    display:flex;
    justify-content:space-around;
    padding-top:20px;
}

nav ul li {
    list-style-type:none;
}

li a {
    text-decoration:none;
    text-transform: capitalize;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top:20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.top-img {
    margin:20px 0;
}

.top-area {
    display:flex;
    justify-content: space-between;
    margin-top:25px;
}

.top-area .text-container {
    width: 48%;
    /* padding: 0 1%; */
    padding-bottom: 20px;
    border-bottom:1px dashed black;
    margin-bottom: 25px;
}

.middle-area {
    display:flex;
    justify-content: space-between;
}

.middle-area .text-container {
    width: 48%;
    /* padding: 0 1%; */
    padding-bottom: 20px;
    border-bottom:1px dashed black;
    margin-bottom: 25px;
}

.top-area .text-container button {
    margin-top:15px;
}

.middle-area .text-container button {
    margin-top:15px;
}

button {
    border-radius: 5px;
    width:150px;
    padding:5px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box.box1 {
    background-color:teal;
}

.middle-content .boxes .box.box2 {
    background-color:gold;
}

.middle-content .boxes .box.box3 {
    background-color:cadetblue;
}

.middle-content .boxes .box.box4 {
    background-color:coral;
}

.middle-content .boxes .box.box5 {
    background-color:crimson;
}

.middle-content .boxes .box.box6 {
    background-color:forestgreen;
}

.middle-content .boxes .box.box7 {
    background-color:darkorchid;
}

.middle-content .boxes .box.box8 {
    background-color:hotpink;
}

.middle-content .boxes .box.box9 {
    background-color:indigo;
}

.middle-content .boxes .box.box10 {
    background-color:dodgerblue;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.bottom-area {
    margin-bottom: 25px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;