/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*this is where I colored each of the individual boxes */

.middle-content .boxes .box1 {
  width: 12.5%;
  height: 100px;
  background: teal;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content .boxes .box2 {
  width: 12.5%;
  height: 100px;
  background: gold;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle-content .boxes .box3 {
  width: 12.5%;
  height: 100px;
  background: cadetblue;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content .boxes .box4 {
  width: 12.5%;
  height: 100px;
  background: coral;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content .boxes .box5 {
  width: 12.5%;
  height: 100px;
  background: crimson;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content .boxes .box6 {
  width: 12.5%;
  height: 100px;
  background: forestgreen;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content .boxes .box7 {
  width: 12.5%;
  height: 100px;
  background: darkorchid;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content .boxes .box8 {
  width: 12.5%;
  height: 100px;
  background: hotpink;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content .boxes .box9 {
  width: 12.5%;
  height: 100px;
  background: indigo;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content .boxes .box10 {
  width: 12.5%;
  height: 100px;
  background: dodgerblue;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*this is where I colored each of the individual boxes */

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.bottom-content .text-container {
  padding-right: 4%;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

/*Below this is my content*/

header {
  width: 65%;
  margin: auto;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:hover {
  color: darkslategray;
}

.headerimg {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.headerimg img {
  margin: 30px;
  border-radius: 5px;
}

.about-about {
  padding-bottom: 32px;
  margin-bottom: 8px;
  border-bottom: 1px dashed black;
}

.about-about div {
  display: flex;
  flex-flow: row wrap;
  height: 80px;
  margin: 16px;
}

.aboutcontentimgs {
  display: flex;
  justify-content: space-evenly;
  padding-top: 8px;
}

.topcontent-about {
  display: flex;
  justify-content: space-evenly;
}

.topcontent-about div {
  width: 45%;
  border-bottom: 1px dashed black;
  margin: 16px 0;
  padding: 16px 0;
}

button {
  font-size: 12pt;
  text-align: center;
  margin-top: 2%;
  background-color: white;
  border: 2px solid #000;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
}

button a {
  text-decoration: none;
  color: black;
}

button a:hover {
  color: darkslategray;
}

.lowercontent {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  margin: 24px;
}

/*below is the css for contact.html*/

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: forestgreen;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: green;
}

.contactcontainer {
  border-radius: 5px;
  background-color: lightgrey;
  padding: 20px;
}
