/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.container header {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    width: 800px;
    margin-bottom: 75px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background: white;
}
    .container header nav  {
        display: flex;
        
    }
    
    
        .container header nav a {
            justify-content: space-around;
            margin-right: 50px;
            color: black;
            text-decoration: none;            
        }
        .container header img {
            padding-bottom: 25px;
            margin-right: 0;
        }

.top-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 80px;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.top-content .text-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {

    margin-top: 60px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 2% 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
    background: teal;
}
#box2 {
    background:gold
}
#box3 {
    background: cadetblue;
}
#box4 {
    background: coral;
}
#box5 {
    background: crimson;
}
#box6 {
    background: forestgreen;
}
#box7 {
    background: darkorchid;
}
#box8 {
    background: hotpink;
}
#box9 {
    background: indigo;
}
#box10 {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* About page unique stuff */

.middle-content {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 80px;
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-around;
}

.middlebox {
    display: flex;
    flex-flow: column nowrap;
    width: 350px;
    flex-shrink: 1;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.middlebox p {
    padding-right: 10px;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    padding: 20px auto;
    margin-top: 10px;
    height: 30px;
    width: 100px;
}

.topcontent {
    position: relative;
    top: 80px;
    padding: 20px;
    border-bottom: 1px dashed black;
}

