/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* This is where I began tinkering with stuff */

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 800px;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 2%;
}

.header .text {
    display: flex;
	justify-content: space-around;
    align-content: center;
	
}

.text {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 800px;
    align-content: center;
}

nav a {
    display: flex;
    text-decoration: none;
    color: black;
    align-content: center;
    margin: 0 auto;
    padding-top: 20px;
}

.longExposure {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
    width: 12.5%;
    height: 100px;
    /* background: black; */
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: teal;
}

.box2 {
    background-color: gold;
}

.box3 {
    background-color: cadetblue;
}

.box4 {
    background-color: coral;
}

.box5 {
    background-color: crimson;
}

.box6 {
    background-color: forestgreen;
}

.box7 {
    background-color: darkorchid;
}

.box8 {
    background-color: hotpink;
}

.box9 {
    background-color: indigo;
}

.box10 {
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.containerAboutPage .tower {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
    padding-top: 30px;
}

.containerAboutPage { 
    border-bottom: 1px dotted black; 
}

.containerAboutPage h2 {
    display: flex;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 68px;
}

.containerAboutPage p {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 2%; 
    /* border-bottom: 1px dotted black;  */
}

.midSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 95%;
    margin: 0 auto;
    padding-top: 2%; 
    padding-bottom: 2%;
}


.midSection div {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    width: 45%;
    height: 80%;
    margin: 0 auto;
    padding: 2%;
    border-bottom: 1px dotted black; 
}

.midsection h2 {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin: 0 auto;
}

.button2 {
    display: flex;
	justify-content: center;
	background-color: white;
	width: 40%;
	height: 30px;
	font-size: 20px;
	text-align: center;
	border: 1px solid gray; 
	margin: 10px 0;
	border-radius: 5px;
	padding: 2px auto;
}