/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-top: 20px;
	font-size: 90%;
}

.top-nav a {
	text-decoration: none;
	color: black;
	margin-top: auto;
}

.top-nav a:hover {
	color: maroon;
}

.top-img {
	margin: 40px 0px 20px 0px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
	background-color: teal;
}

#box2 {
	background-color: gold;

}

#box3 {
	background-color: cadetblue;

}

#box4 {
	background-color: coral;

}

#box5 {
	background-color: crimson;

}

#box6 {
	background-color: forestgreen;

}

#box7 {
	background-color: darkorchid;

}

#box8 {
	background-color: hotpink;

}

#box9 {
	background-color: indigo;

}

#box10 {
	background-color: dodgerblue;

}
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

button {
	border-radius: 10px;
	padding: 10px 25px;
	border-color: black
	color: black;
	background-color: white;
	border:	2px solid black;
	font-size: 16px;
	font-weight: 500;
	margin: 10px 0px;
}

.about-title {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0px 20px 20px 20px;
}

.about-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left: 15px;
}

.about-content section {
	width: 50%;
	margin: 20px 0px;
}

.about-content h2 {
	margin-top: 10px;
}

hr {
	border-top: 1px dashed black;
margin-right: 20px;
}

.about-bottom {
	margin: 20px 20px 40px 20px;

}
