/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.3;
}

.container {
    width: 800px;
    margin: 0 auto;
    border: 1px green solid;
     
}

#top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 2px solid red;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;

}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    margin-top: 30px;
}
.logo {
    margin-top: 20px;
    margin-left: 15px;
    

}
.zoom {
    margin-top: 40px;
    margin-bottom: 20px;
}
#top-content {
    border-bottom: 1px black dashed;
    display: flex;

    
}
.text-container {
    height: 200px;
    width: 300px;
    
}
#why {
    margin-left: 15px;
}
#b1 {
    background: teal;
}
#b2 {
    background: gold;
}
#b3 {
    background: cadetblue;
}
#b4 {
    background: coral;
}
#b5 {
    background: crimson;
}
#b6 {
    background: forestgreen;
}
#b7 {
    background: darkorchid;
}
#b8 {
    background: hotpink;
}
#b9 {
    background: indigo;
}
#b10 {
    background: dodgerblue;
}
.foot {
    margin-bottom: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: flex-start;

}
#bborder {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 130px;
}
.above {
    display: flex;
    justify-content: space-between;
}
.black {
    margin-top: 15px;
}
.navy {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 400px;
}
.city {
    margin-top: 30px;
    margin-bottom: 15px;
}
.lefty {
    display: flex;
    justify-content: space-around;
}
.about {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-bottom: 1px black dotted;
    padding-bottom: 15px;
}
.strategy {
    width: 350px;
    
}
.how {
    width: 320px;
    
}
.center {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    margin-top: 20px;
    border-bottom: 1px dotted black;
    margin-bottom: 40px;


}
.bottom-two {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
#final {
    display: flex;
     
    margin-left: 15px;
    margin-bottom: 30px;
    border-bottom: black dotted 1px;
    padding-bottom: 15px;

    }
.collab {
    width: 370px;
padding-left: 15px;
    }
.wework {
    width: 382px;
    
    }
#lets {
    width: 700px;
    margin-left: 15px;
    margin-bottom: 20px;
}
button {
    margin-top: 10px;
padding-left: 10px;
padding-right: 10px;
border: 2px solid black;
padding-top: 3px;
padding-bottom: 3px;
border-radius: 6px;

}
#HowButton {
    margin-top: 18px;
}




