/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body, header {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}



h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* Don't mess with stuff above */

header {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 40px;

}

header nav {
    display: flex;
    text-decoration: none;
}


header nav a {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 14px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 50px;
}

.image1 {
    display: block;
    padding-top: 50px;
    padding-bottom: 40px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: teal;
    border: 1px solid red;
}

/* This is where I styled the colors of the boxes */

#box1 {
    background: teal;
}
 #box2{
    background: gold;   
}
 #box3 {
    background: cadetblue;
}
 #box4{
    background: coral;
}
 #box5{
    background: crimson;   
}
 #box6{
    background: forestgreen;   
}
 #box7{
    background: darkorchid;   
}
 #box8{
    background: hotpink;    
}
 #box9{
    background: indigo;  
}
 #box10{
    background: dodgerblue;   
}




.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.container-about-page {
    width: 800px;
    margin: 0 auto;
}

.About {
    border-bottom: 1px dashed black;
    padding-bottom: 30px;
    padding: 25px 20px;
}

.main-section1 {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 0px;
}
 .main-section1 h1 {
    margin-top: 25px;
}
 .main-section1 img {
    height: 230px;
    width: auto;
}

.main-section2 {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 0px;
}
 .main-section2 h1 {
    margin-top: 15px;
}

.Strategy {
    padding-bottom: 25px;
    width: 375px;
    margin-right: 30px;
    border-bottom: 1px dashed black;
}

.How {
    padding-bottom: 25px;
    width: 375px;
    border-bottom: 1px dashed black;
}
 .main-section2 img {
    height: 220px;
    width: auto;
}
 .placeswework {
    border-bottom: 1px dashed black;
    padding-bottom: 25px;
}
 .collaboration {
    border-bottom: 1px dashed black;
    padding-bottom: 25px;
}
 button {
    background-color: white;
    height: 30px;
    width: 100px;
    height: 35px;
    width: 110px;
    border: 1px solid black;
    border-radius: 5px
    border-radius: 5px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 10px;
}