/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global styles */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

header nav {
    display: flex;
    align-items: baseline;
    padding: 20px 0 18px 0;
    width: 100%;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
} 

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.header-img {
    padding: 20px 0;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* Home Styles */

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
    background: teal;
}

#box2 {
    background: gold;
}

#box3 {
    background: cadetblue;
}

#box4 {
    background: coral;
}

#box5 {
    background: crimson;
}

#box6 {
    background: forestgreen;
}

#box7 {
    background: darkorchid;
}

#box8 {
    background: hotpink;
}

#box9 {
    background: indigo;
}

#box10 {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/* About Styles */

.about-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-text {
    padding: 0 15px;
}

.about-p {
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
}

.about-content {
    border-bottom: 1px dashed black;
    width: 370px;
    margin: 30px 15px;
}

.about-content img {
    width: 100%;
}

.about-content button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 20px;
    margin: 20px 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.about-content h2 {
    margin-top: 10px;
}

.work-together {
    padding: 0 15px;
    margin: 20px 0 40px 0;
}

/* Contact Styles */

#contact-form {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

label {
    padding: 10px 0;
}
input {
    padding: 5px;
}
form legend, form textarea {
    margin: 30px 0;
}
form legend {
    padding-top: 20px;
}
form button {
    padding: 10px 20px;
    border: 2px solid black;
    width: 25%;
    text-align: center;
}

.checkboxes {
    padding: 10px 0;
}