/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.lambda-logo {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-right: 20px;
    margin-top: 15px;
}

.nav-bar a {
    color: black;
    display: inline-block;
    align-items: baseline;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 120px;
    text-decoration: none;
}

.header-img {
    margin: 20px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .teal {
    background: teal;
}

.middle-content .boxes .gold {
    background: teal;
}

.middle-content .boxes .cadetblue {
    background: cadetblue;
}

.middle-content .boxes .cacoraldetblue {
    background: coral;
}

.middle-content .boxes .crimson {
    background: crimson;
}

.middle-content .boxes .forestgreen {
    background: forestgreen;
}

.middle-content .boxes .darkorchid {
    background: darkorchid;
}

.middle-content .boxes .hotpink {
    background: hotpink;
}

.middle-content .boxes .indigo {
    background: indigo;
}

.middle-content .boxes .dodgerblue {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


/* About */

.about-card {    
    padding-bottom: 40px;
    width: 880px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;     
}

.about-card div {
    padding-bottom: 0px;
    border-bottom: 1px dotted black;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 48%;    
    /* padding: 20px; */
    margin: 10px;
    background: rgb(241,241,241);    
}

.about-card .card button {
    padding: 10px 40px;
    margin-top: 20px;
    cursor: pointer;
    background: white;
    border-radius: 5px;
    width: 10px;
    height: 15px;
    border: 1px solid black;
}



.header-wrap {
    margin: 15px;
}

.about-card .about-head {
    padding: 20px;
    border-bottom: 1px dotted black;
}

.cards h1 {
    padding: 15px;
    
}





/* .work-together {
    height: 150px;
} */


