/*/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}


.topheader{
   display: flex;
justify-content: space-between;
align-content: space-between;
align-items: center;
flex-wrap: nowrap;

padding-left: 30%;
padding-top: 20px;
padding-bottom: 30px;
flex-direction: row;


width: 40%;
font-family: 'Roboto', sans-serif;


}



.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box1{
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{width: 12.5%;
    height: 100px;
    background: gold;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}
.box3{width: 12.5%;
    height: 100px;
    background: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}
.box4{width: 12.5%;
    height: 100px;
    background: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}
.box5{width: 12.5%;
    height: 100px;
    background: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}
.box6{width: 12.5%;
    height: 100px;
    background: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}
.box7{width: 12.5%;
    height: 100px;
    background: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}
.box8{width: 12.5%;
    height: 100px;
    background: hotpink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}
.box9{width: 12.5%;
    height: 100px;
    background: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}
.box10{width: 12.5%;
    height: 100px;
    background: dodgerblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}


/*.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}
.jumbo{
    padding-left: 30%;
}
.container1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:stretch;
    
    padding-left: 30%;
    
    width: 40%;
}

.container1 p {
    padding-top: 10px;
    padding-right: 0px;
    width: 100%;

}
.aabout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:stretch;
    padding-left: 30%;
    font-size: 18px;

    font-family: 'Rubik', sans-serif;
    
}


.container2{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items:stretch;
    
    padding-left: 30%;
    
    width: 40%;
}

.container3{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:stretch;
    
    padding-left: 30%;
    
    width: 40%}
    .Scol{display: flex;
    flex-direction: column;
    flex-wrap: nowrap

    }
.sstrategy{
    font-size: 18px;

    font-family: 'Rubik', sans-serif;
}

.sta1{}
.LM1{
    background: white;
    display: flex;
    font-size: 11pt;
        font-family: 'Titillium Web', sans-serif;


text-align: center;
align-items: center;

 width:100px; 
 height:35px;
 
border:1px; border-style:solid; border-color:#black;  padding: 0em;
padding-left: 15px;
}

.HCol{display: flex;
    flex-direction: column;
    flex-wrap: nowrap

}
.HWW{
    font-size: 18px;

    font-family: 'Rubik', sans-serif;
}
.sta2{}
.LM2{background: white;
    display: flex;
    font-size: 11pt;
        font-family: 'Titillium Web', sans-serif;


text-align: center;
align-items: center;

 width:100px; 
 height:35px;
 
border:1px; border-style:solid; border-color:#black;  padding: 0em;
padding-left: 15px;}

.container4{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items:stretch;
    
    padding-left: 30%;
    
    width: 40%}

.container5{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:stretch;
    
    padding-left: 30%;
    
    width: 40%}
    .Pcol{display: flex;
    flex-direction: column;
    flex-wrap: nowrap

    }
.PWE{
    font-size: 18px;

    font-family: 'Rubik', sans-serif;
}

.sta3{}
.LM3{
    background: white;
    display: flex;
    font-size: 11pt;
        font-family: 'Titillium Web', sans-serif;


text-align: center;
align-items: center;

 width:100px; 
 height:35px;
 
border:1px; border-style:solid; border-color:#black;  padding: 0em;
padding-left: 15px;
}

.CCol{display: flex;
    flex-direction: column;
    flex-wrap: nowrap

}
.COLL{
    font-size: 18px;

    font-family: 'Rubik', sans-serif;
}
.sta4{}
.LM4{background: white;
    display: flex;
    font-size: 11pt;
        font-family: 'Titillium Web', sans-serif;


text-align: center;
align-items: center;

 width:100px; 
 height:35px;
 
border:1px; border-style:solid; border-color:#black;  padding: 0em;
padding-left: 15px;}

.LWTOG{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:stretch;
    
   margin: 30px;
   padding-left: 540px;

    
    width: 40%}
.container6{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:stretch;
    
    padding-left: 30%;
    
    width: 40%}


.footer1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items:stretch;
    
    padding-left: 30%;
    
    width: 40%
background:black;

}


.footer1 nav{
display: flex;
background-color: black;
text-decoration: none;
justify-content: space-between;
width: 58%;
font-size: 14px;
padding: 20px;
}
.footer1 nav a {
    color: white;
    width: 50%;
    text-decoration: none;
}







