/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.logo-link:empty {
    background-image: url('http://i65.tinypic.com/npmmte.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20%;
    height: 100%;
}

.header-links {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 20px 0;
}

.header-links nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
}

.header-links nav a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px 0 10px;
    font-weight: bold;
    width: 16%;
}

.header-links nav a:hover {
    background-color: grey;
    color: white;
    transition-duration: 375ms;
    transition-property: all;
}

.header-links nav a:active {
    background-color: silver;
    color: snow;
    font-weight: normal;
    transition-duration: 125ms;
    transition-property: all;
}

.header-image:empty {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 187.5px;
    margin: 30px 0;
}

.home-header-image:empty {
    background-image: url('http://i65.tinypic.com/w8uzya.jpg');
}

.about-header-image:empty {
    background-image: url('http://i66.tinypic.com/10cn8yf.png')
}

.top-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px dashed black;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: teal;
}

.box2 {
    background-color: gold;
}

.box3 {
    background-color: cadetblue;
}

.box4 {
    background-color: coral;
}

.box5 {
    background-color: crimson;
}

.box6 {
    background-color: forestgreen;
}

.box7 {
    background-color: darkorchid;
}

.box8 {
    background-color: hotpink;
}

.box9 {
    background-color: indigo;
}

.box10 {
    background-color: dodgerblue;
}

.middle-content .info-previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .info-previews article.info-preview {
    width: 45%;
    margin: 25px 2.5%;
    border-bottom: 1px dotted black;
}

.info-preview-image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 236px;
    margin-bottom: 10px;
}

.learn-more-link {
    display: block;
    width: 125px;
    text-align: center;
    color: black;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 0 25px;
}

.learn-more-link:hover {
    background-color: rgb(226, 226, 226);
    font-weight: bold; 
    transition-duration: 125ms;
    transition-property: all;
}

.learn-more-link:active {
    font-weight: normal;
}

.strategy-info-preview-img {
    background-image: url('http://i63.tinypic.com/2q8c5lh.png');    
}

.how-we-work-info-preview-img {
    background-image: url('http://i67.tinypic.com/35lvur6.jpg');
}

.places-we-work-info-preview-img {
    background-image: url('http://i66.tinypic.com/8z03m8.png');
}

.collaboration-info-preview-img {
    background-image: url('http://i67.tinypic.com/m79o2c.png');
}

.bottom-content {
    display: flex;
    margin: 0 2% 35px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    display: block;
    padding: inherit 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer nav a:hover {
    text-decoration: underline;
}

footer nav a:active {
    color: silver;
    text-decoration: none;
    font-weight: normal;
}