/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 0px;
    height: 40px;
    width: 157px;
}

.bar {
    display: flex;
    margin-left: 60px;
    margin-top: 65px;
    justify-content: space-between;
    width: 520px;
}

header nav a:link {
    text-decoration: none;
    color: black;
}

header nav a:visited {
    text-decoration: underline;
    color: black;
}


.bigtopimg {
    display: flex;
    margin-top: 30px;

}

.main-content {
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    margin: 75px 0 35px 0;
    padding: 35px 0;
    font-size: 16px;
    line-height: 18px;
}

.main-content .top-content {
    display: flex;
}



.main-content .bottom-content {
    display: flex;
}

.main-content .bottom-content p {
    padding-right: 20px;
}



/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}

.top-content {
  
}
/* Services Styles */

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.3;
    

}


.services-content .card {
    padding: 20px;
    width: 400px;
    margin: 20px 0;


}

.line{

    border-top: dashed black;
    border-width:1.5px;
    width: 370px;
    margin-top: 25px;

}

.long-line{ 

    border-top: dashed black;
    border-width:1.5px;
    width: auto;
    margin-top: 25px;
    
}

.services-content .indented {
    margin-left: 40px;
}


.services-content .card button {
    padding: 10px 30px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 12pt;
    
}

.services-content .card button:hover {
    background: black;
    color: white;
}




 .services-info {
    display: flex;
    flex-wrap: wrap;
   
    margin: 20px 0 35px 0;
    padding-top: 40px;
}




 .services-content .services-info .facts {
   width: 400px;
   margin: 0 60px 20px 0;

 }
 
 .services-content .services-info .facts p {
   margin-bottom: 20px;
 }
 
 .services-content .services-info .services-info-img {
   width: 420px;
   height: 300px;
 }


.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1.5px dashed black;
    padding-bottom: 20px;
}

.middle-content .boxes .box1 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box2 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box3 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box4 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box5 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box6 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.middle-content .boxes .box7 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box8 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box9 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box10 {
    width: 12.5%;
    height: 100px;
    background-color:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.button {
    border: black, 4px;
    color: rgb(14, 12, 12);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    width: 170px;
    height: 35px;
}

.button {
    border-radius: 12px;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}







