/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/***************************** Header css ****************************************/
header{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom:40px;
    padding-top:20px;
}

header brand img{
    margin-top:8px;
}

header nav{
    display:flex;
    width:700px;
    justify-content: space-evenly;
}

header nav a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size:16px;
    color:#000;
    position: relative;
    top: -4px;
}

.jumbotron{
    margin-bottom: 20px;
}

/**************************** End header css ************************************/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***************************** Part 2 task one *************************/
.middle-content .boxes .box:nth-child(1){
    background-color:teal;
}
.middle-content .boxes .box:nth-child(2){
    background-color:gold;
}
.middle-content .boxes .box:nth-child(3){
    background-color:cadetblue;
}
.middle-content .boxes .box:nth-child(4){
    background-color:coral;
}
.middle-content .boxes .box:nth-child(5){
    background-color:crimson;
}
.middle-content .boxes .box:nth-child(6){
    background-color:forestgreen;
}
.middle-content .boxes .box:nth-child(7){
    background-color:darkorchid;
}
.middle-content .boxes .box:nth-child(8){
    background-color:hotpink;
}
.middle-content .boxes .box:nth-child(9){
    background-color:indigo;
}
.middle-content .boxes .box:nth-child(10){
    background-color:dodgerblue;
}

/******************************************* End Part2 Task one***************************/

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*********************************** About Page Css **************************/


.services-header p{
    margin-bottom: 20px;
    text-align:justify;
}

.services{
    width:800px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    flex-direction: row;
    border-top:1px dashed black;
    align-items: center;
    padding-top:20px;
    margin-bottom:35px;

}

.box-services{
    width:380px;
    margin-bottom:20px;
    border-bottom:1px dashed black;
    padding-bottom: 25px
}

.box-services img{
    margin-bottom:10px;
}
.box-services p{
	margin-bottom:20px;
	line-height:20px;
	text-align: justify;
}

.box-services a{
   text-decoration:none;
   border:1px solid #000;
   padding:5px 20px 5px 20px;
   color:#000;
   border-radius:5px;
}
.mid-footer p{
    margin-bottom:20px;
    text-align:justify;
}


