/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}
/* the new stuff goes here */
/* the width of the page is 800 px */
.navigation-section {
  /* border: dotted green 8px; */
}

.links-and-logo {
  display: flex;
  justify-content: space-between;
}


/* the width of the page is 800 px */
.navigation-links {
  /* display: flex; */
  /* we maybe can space-between with flex box to get them nice and spaced */
  padding-top: 30px;
  width: 630px;
  height: 45px;
  /* border: dotted red 8px; */
}

.navigation-links a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  /* we might be able to get rid of this with flex box */
  margin: 35px;
}

.navigation-links a:hover {
  color: gray;
}

/* we need links styling */
/* remove the underline */
/* we need links color */
.navigation-image {
  /* trbl */
  margin: 30px 0 30px 0;
  /* border: dotted yellow 8px; */
}

/* this stuff below is the rest of the page */
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    background: black;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box1 {
  background: teal;
}

.middle-content .boxes .box2 {
  background: gold;
}


.middle-content .boxes .box3 {
  background: cadetblue;
}

.middle-content .boxes .box4 {
  background: coral;
}

.middle-content .boxes .box5 {
  background: crimson;
}

.middle-content .boxes .box6 {
  background: forestgreen;
}

.middle-content .boxes .box7 {
  background: darkorchid;
}

.middle-content .boxes .box8 {
  background: hotpink;
}

.middle-content .boxes .box9 {
  background: indigo;
}

.middle-content .boxes .box10 {
  background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* this is the about page css. */ 

/* the style is this: */ 
/* .about-selector-stuff { */

/* } */
.about-about-text {

  /* border: dotted yellow 8px; */
} 

.about-about-text p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-card-container {
  display: flex;
  flex-wrap: wrap;
  border-top: dashed black 1px;
    /* border: dotted green 8px; */ 
}

.about-card-container .card {
  width: 300px;
  padding: 20px;
  border-bottom: black dashed 1px;
  margin: 20px;
  /* border: dotted green 3px; */
}

.about-card-container .card img {
  width: 300px;
  /* border: dotted green 8px; */
}
.about-card-container .card p {
  font-size: 14px;
  margin-top: 20px;
  /* border: dotted green 8px; */
}
.about-card-container .card h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: dotted green 8px; */
}
.about-card-container .card button {
  border: black 2px solid;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
  /* border: dotted green 8px; */
}

.about-card-container .card button:hover {
  color: white;
  background: black;
  /* border: dotted green 8px; */
}

.about-work-together {
  width: 675px;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 30px;

}

.about-work-together p {
  font-size: 14px;
}
