/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    /*background: black;*/
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.flex {
    display: flex;
}

.flex-justify-even {
    display: flex;
    justify-content: space-around;
}
header.flex {
    margin: 20px 0 30px 0;
    justify-content: space-between;
}

header.flex nav.flex {
    width: 600px;
    align-items: flex-end;

}
header.flex nav.flex a:hover {
    text-decoration: none;
    color: white;
    background: black;
    padding: 5px 20px;
}
header.flex nav.flex a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    /*border: 1px solid black;*/
}

.container img#jumbo {
    margin: 10px 0 20px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
.box1 {
    background: teal;
}
.box2 {
    background: gold;
}
.box3 {
    background: cadetblue;
}
.box4 {
    background: coral;
}
.box5 {
    background: crimson;
}
.box6 {
    background: forestgreen;
}
.box7 {
    background: darkorchid;
}
.box8 {
    background: hotpink;
}
.box9 {
    background: indigo;
}
.box10 {
    background: dodgerblue;
}

.about-box {
    margin: 45px 15px 5px 5px;
    border-bottom: 1px dashed black;
    width: 370px;
    display: flex;
    flex-direction: column;
}

.about-box h2 {
    margin: 10px 0 15px;
}
.about-box p {
    margin: 0 0 20px;
    padding: 10px;
}
.about-box a:hover {
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px 20px;
    margin: 0 0 20px;
}
.about-box a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 0 0 20px;
    width: 123px;
    border-radius: 10px;
}
.about-middle-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-bottom-content {
    margin: 20px 20px;
}
.about-top-content {
    margin: 10px 0;
    padding: 0 20px;
    border-bottom: 1px dashed black;
}
.about-top-content p {
    margin: 10px 0 20px;
}
