/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.navbar-top {
    color: black;
    margin-right: 20px 20px 20px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.a {
    margin-left: 35px;
    margin-right: 35px;   
    text-decoration: none;
    color: black;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box1 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: teal;
    margin: 10px 10px 10px 10px ;
}

.box2 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: gold;
    margin: 10px 10px 10px 10px;
}

.box3 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: cadetblue;
    margin: 10px 10px 10px 10px;
}

.box4 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: coral;
    margin: 10px 10px 10px 10px;
}

.box5 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: crimson;
    margin: 10px 10px 10px 10px;

}

.box6 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: forestgreen;
    margin: 10px 10px 10px 10px;

}

.box7 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: darkorchid;
    margin: 10px 10px 10px 10px;
}

.box8 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: hotpink;
    margin: 10px 10px 10px 10px; 
}

.box9 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: indigo;
    margin: 10px 10px 10px 10px;
}

.box10 {
    color: white;
    padding: 40px 40px 40px 40px;
    background-color: dodgerblue;
    margin: 10px 10px 10px 10px;
}

/*About Page CSS Below*/

.about-header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-style {
    border-radius: 5px;
    
}