/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.nav-style {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 0 40 px 0
}
.nav-style a{
    color: black;
    text-decoration: none;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content img {
    margin-bottom: 25px;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    background-color: teal;
}
#box2{
    background-color: gold;
}

#box3{
    background-color: cadetblue;
}

#box4{
    background-color: coral;
}

#box5{
    background-color: crimson;
}

#box6{
    background-color: forestgreen;
}

#box7{
    background-color: darkorchid;
}

#box8{
    background-color: hotpink;
}

#box9{
    background-color: indigo;
}

#box10{
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.top-content-about {
    border-bottom: 1px dashed black;
    margin-bottom: 20px;
}

.text-container-about {
    width: 96%;
    padding: 15px 1%;
    padding-bottom: 20px;
}

.middle-content-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 46%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
}

.card h2 {
    padding-top: 10px;
}

.card button {
    padding: 9px 23px;
    margin: 10px 0;
    border-radius: 9px;
    border: 2px solid black;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
}

.card:nth-last-child(-n+2) {
    margin-top: 30px;
}

.bottom-content-about {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 96%;
}

.bottom-cta {
    padding-left: 20px;
    margin-bottom: 35px;
}

.top-content-blog img {
    width: 100%;
    height: 100%;
}

.top-content-blog h2 {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 50px;
}

.blog {
    box-shadow: 0 4px 8px 0 rgba(red, green, blue, alpha);
    margin: 20px 0;
    padding: 20px;
}

.blog:hover {
    box-shadow: 0 8px 16px 0 rgba(red, green, blue, alpha);
}

.form-style input {
    width: 100%;
    height: 50px;
    font-size: 1.8em;
    margin: 5px;
}