/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* .middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background-color: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* navigation and header CSS */
.container .header1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
    align-items: baseline;
}
.container .nav1 {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .nav1 a {
    text-decoration: none;
    color: black;
}
.container .front-img {
    margin-top: 40px;
    margin-bottom: 20px;
}
/* Start of box coloring */
.container .middle-content .boxes .box1 {
    width: 12.5%;
    height: 100px;
    background-color: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .middle-content .boxes .box2 {
    width: 12.5%;
    height: 100px;
    background-color: gold;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .middle-content .boxes .box3 {
    width: 12.5%;
    height: 100px;
    background-color: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .middle-content .boxes .box4 {
    width: 12.5%;
    height: 100px;
    background-color: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .middle-content .boxes .box5 {
    width: 12.5%;
    height: 100px;
    background-color: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .middle-content .boxes .box6 {
    width: 12.5%;
    height: 100px;
    background-color: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .middle-content .boxes .box7 {
    width: 12.5%;
    height: 100px;
    background-color: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .middle-content .boxes .box8 {
    width: 12.5%;
    height: 100px;
    background-color: hotpink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .middle-content .boxes .box9 {
    width: 12.5%;
    height: 100px;
    background-color: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .middle-content .boxes .box10 {
    width: 12.5%;
    height: 100px;
    background-color: dodgerblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Start of about page */

.container-about-page {
    width: 800px;
    margin: 0 auto;
}
.container-about-page .about-banner1 {
    margin-bottom: 20px;
    margin-top: 35px;
}
.container-about-page .header1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
    align-items: baseline;
}
.container-about-page .nav1 {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-about-page .nav1 a {
    text-decoration: none;
    color: black;
}
.container-about-page .about-section {
   margin-left: 10px;
}
/* Middle section start */
.container-about-page .about-middle-section {
    border-top: 1px dotted black;
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;
}
.container-about-page .about-middle-section .left-side {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 10px;
}
.container-about-page .about-middle-section .right-side {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 10px;
}
.container-about-page .about-middle-section .left-side .strategy {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted black;
    padding-bottom: 20px;
}
.container-about-page .about-middle-section .left-side .strategy button {
    border-radius: 10px;
    background: white;
    padding: 8px 20px;
    border: 2px solid black;
    align-self: flex-start;
}    
.container-about-page .about-middle-section .left-side .places-we-work {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted black;
    padding-bottom: 20px;
    margin-top: 50px;
}
.container-about-page .about-middle-section .left-side .places-we-work button {
    border-radius: 10px;
    background: white;
    padding: 8px 20px;
    border: 2px solid black;
    align-self: flex-start;
}  
.container-about-page .about-middle-section .right-side .how-we-work {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted black;
    padding-bottom: 20px;
}
.container-about-page .about-middle-section .right-side .how-we-work button {
    border-radius: 10px;
    background: white;
    padding: 8px 20px;
    border: 2px solid black;
    align-self: flex-start;
}  
.container-about-page .about-middle-section .right-side .collaboration {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted black;
    padding-bottom: 20px;
    margin-top: 50px;
}
.container-about-page .about-middle-section .right-side .collaboration button {
    border-radius: 10px;
    background: white;
    padding: 8px 20px;
    border: 2px solid black;
    align-self: flex-start;
}  

