/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container-home-page {
    width: 95%;
    margin: 0 auto;
}

.container-about-page {
    width: 95%;
    height:60%;
    margin: 0 auto;
}
.container-contact-page {
     width: 95%;
    margin: 0 auto;
    height:100%;
    background-color:#D3CCE3;
}
.container-contact-page .content {
    margin-top:40%;
    margin-left:10%;
    font-size:40px;
}
.container-contact-page .content .phone {
    font-size:30px;
}
.container-contact-page .content p {
font-size:20px;
}
.container-contact-page .contact-us .reach-us h1{
    font-size:40px; 
    margin-left:40%;
    margin-top:20%;
    margin-bottom:25%;
    
}
.container-contact-page .content {
font-style: oblique;

}
.container-contact-page .contact-us .reach-us p {
    font-size:20px;
    margin-bottom:-30%;
    margin-left:10%;
}
.container-about-page header{
    width: 91.7%;
    display: flex;
    margin-left:3.5%;
}
.container-contact-page header{
    width: 91.7%;
    display: flex;
    margin-left:3.5%;
}
.container-about-page header nav {
     margin-left:8%; 
    margin-top:2%;
    width: 90%;
    justify-content: space-between;
    display: flex; 
}
.container-contact-page header nav {
     margin-left:8%; 
    margin-top:2%;
    width: 90%;
    justify-content: space-between;
    display: flex; 
}
.container-about-page header nav a {
    color:black;
    text-decoration: none; 
}
.container-contact-page header nav a {
    color:black;
    text-decoration: none; 
}
.container-home-page header {
     width: 90.7%;
    display: flex;
    margin-left:2.5%;
}
.container-home-page header nav {
    margin-left:100px; 
    margin-top:20px;
    width: 90%;
    justify-content: space-between;
    display: flex; 
}

 .container-home-page header nav a {
  color:black;
    text-decoration: none;  
}
.about-page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;
}
.about {
    border-bottom:1px dashed black;
    padding-top:20px;
    margin-left:4%;
}
.about p {
    margin-bottom:3%;
}
.about-page-content .box {
    padding: 30px;
    width: 49%;
    background: white;
    margin-top:10px;
    margin-left:10px;
    border-bottom:1px dashed black;
}
.about-page-content .box button {
    padding: 12px 40px;
    margin-top: 20px;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    font-size:20px;
    border: 2px solid black;
}
.top-img img {
    width:90%;
    margin: 60px 0 60px 50px;
}
.about-top-img img {
     width: 92%;
    margin: 60px 0 60px 50px;
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 45%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    
}

.middle-content h2 {
    padding: 0 4%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left:2%;
}



.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
    margin-top:3%;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}