/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
    
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
    margin-top: 20px
    
 }
 
 footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
 }
 
 footer nav a {
    color: white;
    text-decoration: none;
 }

/* start of code*/

body {
    
    width: 80%;
}

a {
    text-decoration: none;
    color: black;
}

a .fade {
    text-decoration: none;
    color: black;
}

.menubar {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    justify-content: space-around;
    align-items: baseline;
    width: 85%;
    padding-left: 100px;
    padding-bottom: 40px;
    padding-top: 10px;

}

.logo {
    
    margin: 45px;
  
}

.jumbo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin-left:170px;
}



.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 804px;
}

.text-container{

    display: flex;
    flex-wrap: wrap;
    width: 33.3%;
}

.bottom-content{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}



.middle-content .boxes .teal{
    background-color: teal 

}

.middle-content .boxes .gold{
    background-color: gold

}
.middle-content .boxes .cadetblue{
    background-color: cadetblue 

}
.middle-content .boxes .coral{
    background-color: coral 

}

.middle-content .boxes .crimson{
    background-color: crimson 

}
.middle-content .boxes .forestgreen{
    background-color: forestgreen 

}
.middle-content .boxes .hotpink{
    background-color: hotpink 

}
.middle-content .boxes .indigo{
    background-color: indigo 

}
.middle-content .boxes .dodgerblue{
    background-color: dodgerblue 
}


/* About Page */



p {
    font-size: 16px;    
}

hr {
    width: 800px;
    border-top: 1px dashed black;
    margin-right: 50px;
    margin: 40px 0;
}

h1 {
    padding-top: 20px
}
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start 
}

.about-page {
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
    width: 70%;
}

.about-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 65px;
    width:99%;
    
}
button {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    border-radius: 5px;
    border:black 2px solid;
    margin-top: 20px;
}

button:hover {
    opacity: 0.5;
}

.sections {
    overflow: hidden;
    display: flex;
    width: 100%
    
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%
}
section nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%
}

.strategy {
    display: flex;
    flex-wrap: wrap;
    width: 46.6%;

   

 
}
.how {
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex-end;
    width: 46.6%;
    margin-left:6%;

}
.places {
    display: flex;
    flex-wrap: wrap;
    width: 46.6%;
   

}
.collab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex-end;
    width: 46.6%;
    margin-left:6%;

    
}

footer .product-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}



/* Product Page CSS */



.topics-container {

    border: 1px solid black; 
    width: 30%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    margin-left: 40px;
    height: 600px;
}



.disrupt-inv {
    float:right;
    display:flex;
    flex-wrap:wrap;
    justify-content: start;
    width:60%;

}

.related-topics {
    display: flex; 
    flex-wrap: wrap; 
    align-items: flex-start;
    width:20%;

    
}

.animated {
    transition-duration: 3s;
  }

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
 
.fade:hover {
    opacity: 0.1;
}

iframe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
    height:300px;
    border: black solid 1px;
    
}



