/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* BEGINNING OF NAVIGATION AREA

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	
}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 140px;
    
		
}

/*
#navbar {
	display: flex;
	overflow: hidden;
	position: fixed;
    background-color: whitesmoke;
    margin-top: 0px;
	
  }

  */

/* BEGGINING OF LOGO */

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px
    
}

/* END OF LOGO */

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
	color: rgb(185, 169, 169);
    width: 800px;
    font-size: 13px;
   
}

nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    text-decoration: none;
    color: gray;
}


.navigation a:hover {
	background-color: gray;
	color: black;
	transition: 0.5s;
    border-radius: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
}

/* END OR NAVIGATION AREA */


/*BEGINNING OF HEADER AREA */

.header-image img {
    margin: 30px 0px 25px 0px;
}
/* END OF HEADER  AREA*/

/* BEGINNING OF TOP CONTENT */

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/* END OF TOP CONTENT */

/* BEGINNING OF MIDDLE CONTENT */

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END OF MIDDLE CONTENT */

/* BEGINNING OF BOX STYLING */

div.boxes #box1 {
   background-color: teal;
}

div.boxes #box2 {
    background-color: gold;
 }

 div.boxes #box3 {
    background-color: cadetblue;
 }

 div.boxes #box4 {
    background-color: coral;
 }

 div.boxes #box5 {
    background-color: crimson;
 }

 div.boxes #box6 {
    background-color: forestgreen;
 }

 div.boxes #box7 {
    background-color: darkorchid;
 }

 div.boxes #box8 {
    background-color: hotpink;
 }

 div.boxes #box9 {
    background-color: indigo;
 }

 div.boxes #box10 {
    background-color: dodgerblue;
 }






/* END OF BOX STYLING */

/* BEGINNING OF BOTTOM CONTENT */

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/* END OF BOTTOM CONTENT */

/* BEGINNING OF FOOTER AREA */

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* END OF FOOTER AREA */


/* ABOUT BODY STYLING */

.about-container {
    width: 800px;
    margin: 0 auto;
}

/* BEGGINING OF LOGO */

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px
    
}

/* END OF LOGO */

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
	color: rgb(185, 169, 169);
    width: 800px;
    font-size: 13px;
   
}

nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    text-decoration: none;
    color: gray;
}


.navigation a:hover {
	background-color: gray;
	color: black;
	transition: 0.5s;
    border-radius: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
}

/* END OR NAVIGATION AREA */

.header-image {
  margin: 20px 0px 10px 0px;  
}

.about-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.about p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px dotted black;
    margin-bottom: 25px;
    padding: 25px 0px 25px 0px;
   
}