/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5% 0;
    margin-right: 8%;
}

header nav .nav-btn{
    text-decoration: none;
    color: black;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2%;
}

@keyframes nav-btn-switch {
    from{background-color: white;}
    to {background-color: black;}
    from {color: black;}
    to {color: white;}
    
}

header nav .nav-btn:hover{
    animation: nav-btn-switch .2s;
    animation-fill-mode: forwards;
    border: 1px solid black;
}

/*    color: white;
    background: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
    */

.top-content .img-container{
    margin-bottom: 3%;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    100% { -webkit-transform: rotate(360deg);
    transform:rotate(360deg); }
}
.middle-content .boxes .box:hover{
    animation: spin .5s linear;
}

.middle-content .boxes .box1 {
    background: teal;
}

.middle-content .boxes .box2 {
    background: gold;
}

.middle-content .boxes .box3 {
    background: cadetblue;
}

.middle-content .boxes .box4 {
    background: coral;
}

.middle-content .boxes .box5 {
    background: crimson;
}

.middle-content .boxes .box6 {
    background: forestgreen;
}

.middle-content .boxes .box7 {
    background: darkorchid;
}

.middle-content .boxes .box8 {
    background: hotpink
}

.middle-content .boxes .box9 {
    background: indigo;
}

.middle-content .boxes .box10 {
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 2.5% 2.5%;
}

footer nav{
    width: 100%;
}

footer nav a {
    margin-right: 2%;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
}

@keyframes footer-btn-switch {
    from{background-color: black;}
    to {background-color: white;}
    from {color: white;}
    to {color: black;}
    
}

footer nav a:hover {
    animation: footer-btn-switch .2s;
    animation-fill-mode: forwards;
}