/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}
#navBar{
    display: flex;
    justify-content: center;
    padding: 0%;
}
#topNav{
    display:flex;
    flex-direction: row;
    width:65%;
    justify-content: space-between;
    margin-top:40px;
    padding:20px;
    text-align: center;
}
a{
    position: relative; top: 15px;
}
#bigHeaderImg{
    display:inline-block;
    text-align: center;
    width:98%;
    margin:10px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
.boxes{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

}
.box1{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;
background-color:teal ;}
.box2{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;
    background-color:gold}
.box3{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;
    background-color:cadetblue}
.box4{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;
    background-color:coral}
.box5{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;   
    background-color:crimson}
.box6{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;
    background-color:forestgreen}
.box7{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;
    background-color:darkorchid}
.box8{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;
    background-color:hotpink}
.box9{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;
    background-color:indigo}
.box10{
    height:100px;
    width:100px;
    margin:20px;
    color: white;
    text-align: center;
    line-height: 100px;
    background-color:dodgerblue}

.maincontent{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border:solid red;
    justify-content: center;
    align-content: center;
}
.textcontainerabout{
    text-align: left;
    margin:25px;
    width: 69%;
    border:solid red;
    padding:10px;
    border-bottom: dashed black 1px;
}
.textcontainer{
    text-align: left;
    margin:10px;
    width: 35%;
    border:solid red;
    padding:10px;
    border-bottom: dashed black 1px;
}
hr{
    border: dashed black 1px;
    padding: 0%;
}
.content1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:solid red;
    width: 25%;
}
a{
    text-decoration: none;
    color: black;
}
.button{
    border:solid black;
    padding:5px;
    width:110px;
    text-align: center;
    border-radius: 10px;
    margin:10px;
}
.letsworktogether{
    text-align: left;
    margin:25px;
    width: 69%;
    border:solid red;
    padding:10px;
}