/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
	margin: 10px 0px 20px 0px;
}

header nav{
	display: flex;
	margin-bottom: 40px;
}

header nav a {
	text-decoration: none;
	color: inherit;
}

header nav .menu {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-grow: 1;
}

header nav a:hover {
	animation-name: header-anima;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
	background-color: teal;
}
#box2 {
	background-color: gold;
}
#box3 {
	background-color: cadetblue;
}
#box4 {
	background-color: coral;
}
#box5 {
	background-color: crimson;
}
#box6 {
	background-color: forestgreen;
}
#box7 {
	background-color: darkorchid;
}
#box8 {
	background-color: hotpink;
}
#box9 {
	background-color: indigo;
}
#box10 {
	background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/* About Style */
.menu-container {
	padding:0px 20px;
}

.menu-top{
	margin: 30px 0px 10px 0px;
}

.menu-middle {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.middle-items {
	width: 49%;
	margin: 30px 0px 10px 0px;
}

.middle-items img {
	width: 100%;
	height: 45%;
	margin-bottom: 10px;
}

.item1 {
	border-bottom: 1px dashed black;
}

.item2 {
	border-bottom: 1px dashed black;
}

.menu-button {
	margin: 20px 0px;
	border: 1px solid black;
	border-radius: 5px;
	width: 30%;
	text-align: center;
	box-shadow: 3px 3px 5px lightgray;
}

.menu-button:hover {
	background-color: lightgray;
}

.menu-bottom {
	margin: 30px 0px 30px 0px;
}

.contact-page .menu-middle {
	margin: 30px 0px;
}

@keyframes header-anima {
    0%   {opacity:1;}
    25%  {opacity:0.25;}
    50%  {opacity:1;}
    75%  {opacity:0.25;}
    100% {opacity:1;}
}
