/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

body{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 50%; 
    }
  
    to {
      margin-left: 0%;
      width: 50%;
    }
  }





ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
    width: 12.5%;
    height: 100px;
    /* background: black; */
    /* background: red; */
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


.topbar{
    display:flex;
    margin: 27px 0 0 0;
}
.image1{

}
.links{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 0px 0px 0px 16px;
}
a{
    margin:0 0 0 72px
}
.image2{
    margin: 60px 0 15px ;
}

.box1{
    background: teal;
} 
.box2{
    background: gold;

} 
.box3{
    background:cadetblue;
} 
.box4{
    background:coral;
} 
.box5{
    background:crimson;
} 
.box6{
    background:forestgreen;
}   
.box7{
    background:darkorchid;
} 
.box8{
    background:hotpink;
} 
.box9{
    background:indigo;
} 
.box10{
    background:dodgerblue;
}
/* about css  about css about css about css about css  */

.para1{
    border-bottom: 1px dashed black;
    padding: 0 0 17px 0px
}
.row1{
    display: flex;
    margin: 33px 0 0px 13px
}
.group1, .group2, .group3, .group4{
    border-bottom: 1px dashed black;
    margin: 0px 10px 0px 10px;
}
.row2{
    display: flex;
    margin: 33px 0 0px 13px
}
button{
    padding: 9px 17px 9px 17px;
    font-size: medium;
    border-radius: 14px;
    margin: 8px 0 16px 0px;
    border: 2px solid;
}
.lastSection{
    margin: 47px 0 22px 0;
}