/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


    /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
body{
    margin:0 300px
}
.container {
    width: 800;
    margin: 0 auto;
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    border-bottom: 1px  dashed black;
    font-weight:bold;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
    margin-top: 20px;
    font-weight:bold
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    font-weight:bold;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
#demobox {
    background: teal;
    padding:10px;
    height:100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5%
}
#classbox {
    background: gold;
    padding: 10px;
    height: 100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5%
}
#bluebox {
    background: cadetblue;
    padding: 10px;
    height: 100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5%;
}
#coralbox {
    background:coral;
    padding: 10px;
    height: 100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5%;
}
#crimsonbox {
    background: crimson; 
    padding: 10px;
    height: 100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5%;   
}
#greenbox {
    background: forestgreen;
    padding: 10px;
    height: 100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5% 
}
#freshbox {
    background: darkorchid;
    padding: 10px;
    height: 100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5%;
}
#colorbox {
    background:hotpink;
    padding: 10px;
    height: 100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5%;
}
#indigobox {
    background: indigo;
    padding: 10px;
    height: 100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5%; 
}
#dodgerbox {
    background: dodgerblue;
    padding: 10px;
    height: 100px;
    display: flex;
    width: 12.5%;
    align-items: center;
    justify-content: center;
    margin: 20px 2.5%;       
}
header {
    width:100px;
    height:40px;
    margin-bottom:50px;
}
header nav {
    display:flex;
    line-height: 1;
}
header nav a {
    padding:1px 5px;
	margin:5px 80px 0 0;
    text-decoration: none;
    color:black;
    position: relative;
    margin-top: 50px;
    left:190px;
}
header img {
    position:absolute;
	display:inline-block;
    left:300px;
    top:30px
}
/* about.html css starts here */
.container-about-page {
    width: 800;
    margin: 0 auto;
}
.about-top-content{
    margin-top:20px;
    margin-bottom:10px
}
.about-text-container {
    display:flex;
    flex-direction: column;
    margin: 0 2% 20px;
    font-weight:bold;
}
article{
position:top;
width:100%;
height:379px;
margin-bottom:100px;
margin-top:50px;
display:flex;
}
.last{
    padding-left: 3%;
    margin-top:100px;
}
hr{
    border-bottom: 1px  dashed black;
    margin-top:30px;
}
button {
    height:50px;
    width:200px;
    border-radius:12px;
    background-color:transparent;
    font-size:18px;
    margin-top:20px;
    border: 2px solid #000000;
    
}