/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9, .box-10 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
.nav {
	display: flex;
	align-items: baseline;
	padding-left: 2%;

}
.links{
	display: flex;
	width: 90%;
	justify-content: space-around;
	padding-top: 2%;
	padding-bottom: 2%;
}
.header-img {
	display: flex;
	justify-content: center;
	padding-bottom: 2%;
}
.box1 {
	background-color: teal;
}
.box-2 {
	background-color: gold;
}
.box-3 {
	background-color: cadetblue;
}
.box-4 {
	background-color: coral;
}
.box-5 {
	background-color: crimson;
}
.box-6 {
	background-color: forestgreen;
}
.box-7 {
	background-color: darkorchid;
}
.box-8 {
	background-color: hotpink;
}
.box-9 {
	background-color: indigo;
}
.box-10 {
	background-color: dodgerblue;
}
.section-1, .section-2{
	display: flex;
	width: 80%;
	padding-top: 2%;
	padding-left: 15%;
}
.strategy, .places, .collab{
	border-bottom: 1px dotted black;
}
.work {
	padding-left: 5%;
	border-bottom: 1px dotted black;
}
.button {
	display: flex;
	justify-content: center;
	padding-bottom: 2%;
}
header{
border-bottom: 1px dotted black;
}
.end {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 60%;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.p{
	padding-bottom: 2%;
}
button {
    border-radius: 5px;
    color: white;
    background-color: black;
  }
  button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  @keyframes background-color {
    100% {
      background-color: #0F5897;
    }
  }
	
