/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
}

p {
  line-height: 1.4;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  width: 800px;
  margin: 0 auto;
}

nav {
  display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 40px;
}

header img {
  padding-bottom: 20px;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middle-content .boxes .box {
  width: 12.5%;
  height: 100px;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-1 {
  background: teal;
}

.box-2 {
  background: gold;
}

.box-3 {
  background: cadetblue;
}

.box-4 {
  background: coral;
}

.box-5 {
  background: crimson;
}

.box-6 {
  background: forestgreen;
}

.box-7 {
  background: darkorchid;
}

.box-8 {
  background: hotpink;
}

.box-9 {
  background: indigo;
}

.box-10 {
  background: dodgerblue;
}

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.bottom-content .text-container {
  padding-right: 4%;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}

.header-section {
  border-bottom: 1px dashed #333;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.info-box {
  max-width: 48%;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #333;
}

.info-box h2 {
  padding-top: 10px;
}

.blog-box, .contact-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px dashed #333;
  width: 100%;
}

.blog-image, .contact-image {
  max-width: 20%;
}

.blog-snippet  {
  max-width: 50%;
}

.contact-form-box {
	width: 48%;
}

input {
	margin: 10px 0;
	width: 100%;
}

button {
  padding: 10px 30px;
  border: 2px solid #000;
   border-radius: 8px;
   cursor: pointer;
 }

 @keyframes bounce {
  0%, 20%, 60%, 100% {
 	 -webkit-transform: translateY(0);
 	 transform: translateY(0);
  }

  40% {
 	 -webkit-transform: translateY(-20px);
 	 transform: translateY(-20px);
  }

  80% {
 	 -webkit-transform: translateY(-10px);
 	 transform: translateY(-10px);
  }
 }


button:hover {
	animation: bounce 1s;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px){
	.container, header, footer {
		max-width: 98%;
	}

nav {
	width: 100%;
	text-align: center;
}

nav a {
	width: 100%;
}

.logo {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

	header img {
		width: 100%;

	}
.info-box, .blog-box, .contact-box, .blog-image, .contact-image, .blog-snippet, .contact-form-box {
	min-width: 98%;
	margin: 0 auto;
}

.top-content .text-container {
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.middle-content .boxes .box {
  width: 96%;
}

.bottom-content {
	display: block;
	width: 98%;
}

footer nav {
	display: inline-block;
	width: 100%;
}

footer nav a {
	padding: 10px;
}

}
