/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 28px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

h1 {
    font-size: 35px;
    margin-top: 20px;
    width: 150px;
}

.Top-Navigation a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 5px;
    margin-left: 140px;
    margin-right: 5px;
    display: inline;
    
}
.top-img {
    margin-top:150px;
    margin-left:220px;
    margin-right:200px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    /*justify-content: space-evenly;*/
    margin-bottom: 0 2% 20px;
    justify-content: center;
    border-bottom: 1px dashed black; 
    display: -webkit-flex;
}

.top-content h2 {
    margin-top: 35px;
}
.top-content .text-container {
    padding-right: 4%;
}

.top-content .text-container:last-child {
    padding-right: 0;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;

}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
    margin-top: 35px;
    
}

.middle-content .boxes {
   
    padding: 20px;
    margin: 20px 2.5%;
    color: white;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    
}

.box {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.middle-content .boxes .box1 {   
background: teal;
}
.middle-content .boxes .box2 {
    background: gold;
}

.middle-content .boxes .box3 {
    background:cadetblue;
}

.middle-content .boxes .box4 {
    background: coral;   
}

.middle-content .boxes .box5 {
    background: crimson; 
}

.middle-content .boxes .box6 {
    background: forestgreen;
}

.middle-content .boxes .box7 {
    background: darkorchid;
}

.middle-content .boxes .box8 {
    background: hotpink;
}

.middle-content .boxes .box9 {
    background: indigo;
}

.middle-content .boxes .box10 {
    background: dodgerblue;
}

.bottom-content {
    margin: 0 2% 20px;
    justify-content: space-around;
    display: -webkit-flex;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 100px;
    height: 80px;
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    margin-right: 30px;
    margin-left: 80px;
    text-decoration: none;
    color: white;
}

footer nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

/*About Page*/

.Learn-link a {
    border: 2px solid black;
    text-decoration: none;
    background: white;
    color: black;
    margin-top: 20px;
}

img {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
