/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    background: teal;
}
#box2{
    background: gold;
}
#box3{
    background: cadetblue;
}
#box4{
    background: coral;
}
#box5{
    background: crimson;
}
#box6{
    background: forestgreen;
}
#box7{
    background: darkorchid;
}
#box8{
    background: hotpink;
}
#box9{
    background: indigo;
}
#box10{
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 800px;
    background: black;
    margin-left: 50px;
    margin: 0 auto;
}

footer nav {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*My code starts vhere*/

/*header*/
header {
    width: 800px;
    margin: 0 auto;
}
/* nav section*/
nav {
    disooter nav
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}

footer nav a {
justify-content: flex-end;
margin-top: 20px;
}
    jusooter nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}

footer nav a {
justify-content: flex-end;
margin-top: 20px;
}
    fleooter nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}

footer nav a {
justify-content: flex-end;
margin-top: 20px;
}
   
    
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

nav a {
justify-content: flex-end;
margin-top: 20px;
text-decoration:none;
color: black;
justify-content: flex-end;
margin-top: 20px;
}

/*#logo{
    justify-content: flex-start;
    
}*/

#headerimage{
    margin-top: 50px;
    width: 1200px;
    height: auto;
    margin-bottom: 30px;
    }
/*"About" page starts here*/

#about-container{
    display:flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    
    padding: 20px;
      
}
#about-text{
    border-bottom: 1px dashed black;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*#about-text p {
    margin-bottom: 20px;
}*/


.body-images{
    display: inline-flex;
    width: 900px;
    margin-top: 50px;
    margin-bottom: 30px;
    
    }

.body-images img {
    margin: 15px;
    width: 350px;
    justify-content: space-between;
}

.body-container{
    display:flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
}
.body-text {
    display:inline-flex;
    width:350px;
    flex-wrap: wrap;
    margin-left: 20px; 
    justify-content: space-between;
}

/*Finished*/