/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* added some extra to the general section */
.header {
    margin: 5vh 0;
}

.img {
    margin-top:10vh;
}


.nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    position: fixed;
    background: white;
    z-index: 99999;
}

.nav a {
    text-decoration: none;
    color:black;
    margin-right: 3vw;
    margin-left: 2vw;
    font-weight: bolder;
}

/*    ----------------- HOME PAGE -------------------- */

.home-jumbo {
    margin-bottom: 3vh;
}

#box1 { background:teal;}
#box2 { background: gold;}
#box3 { background: cadetblue;}
#box4 { background: coral;}
#box5 { background: crimson;}
#box6 { background: forestgreen;}
#box7 { background: darkorange;}
#box8 { background: hotpink;}
#box9 { background: indigo;}
#box10 { background: dodgerblue;}

.box:hover {
    /* name duration timing-function delay iteration-count direction fill-mode; */
    animation: spinAndBorder 3s;
}

@keyframes spinAndBorder {
    50% {
        border: 2px dashed black;
    }
    100% {
        transform: rotate(360deg) scaleX(1.5) scaleY(1.5);
        border: 5px dashed black;
    }
}




/*    ----------------- ABOUT PAGE -------------------- */


.about__main {
    margin: 4.5vh 0;
    padding: 0 1.5vw;
    border-bottom: 1.25px dashed black;
}

.about__main h1 {
    margin-bottom: 3vh;
}

.about__main p {
    margin-bottom: 2vh;
}

.about__middle {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1.5vw;
}

.card {
    display:inline-flex;
    flex-direction: column;
    width: calc(100%/2 - 1.25vw);
    border-bottom: 1.25px dashed black;
    padding-bottom: 2vh;
}

.card.row2 {
    margin-top: 7vh;
}

.card * {
    margin-bottom: 2vh;
}

.card button {
    border: 2px solid black;
    background: transparent;
    width: 32%;
    height: 4vh;
    border-radius: 9px;
}

.about-bottom {
    margin: 4.5vh 0;
    padding: 0 1.5vw;
}

/* --------------------------- PRODUCT PAGE ---------------------------*/

.product-jumbo {
    min-width: 100%;
    max-height: 20vh;
    margin-bottom: 5vh;
}

.main {
    background-image: linear-gradient(to right bottom, #2a2e32, #242d38, #1f2b3e, #1c2944, #1d2649);
    min-height: 80vh;
    margin: 5vh 0;
    transform: rotateZ(-4deg);
    padding: 10vh 0;

    display:flex;
}

.product-card {
    z-index: 99999;
    background: grey;
    border: 2px dashed white;
}