/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* Index */
.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

header nav {
margin-top: 20px;
}

a {
    justify-content: space-between;
    color: black;
    text-decoration: none;
    margin-right: 60px;
    
      

      
}

.top-content img {
    margin-bottom: 20px;
}

.middle-content .boxes .box:first-child {
    background-color: #008080;
    
}

.middle-content .boxes .box:nth-child(4n+2) {
    background-color: #FFD700;
}

.middle-content .boxes .box:nth-child(4n+3) {
    background-color:#5f9ea0;
}

.middle-content .boxes .box:nth-child(4n+4) {
    background-color: #f88379 ;
}

.middle-content .boxes .box:nth-child(4n+5) {
    background-color: #990000;
}

.middle-content .boxes .box:nth-child(4n+6) {
    background-color: #228b22;
}

.middle-content .boxes .box:nth-child(4n+7) {
    background-color: #9932cc;
}

.middle-content .boxes .box:nth-child(4n+8) {
    background-color: #FF69B4;
}

.middle-content .boxes .box:nth-child(4n+9) {
    background-color: #4b0082;
}

.middle-content .boxes .box:last-child {
    background-color: #1e90ff;
}

/* Header */

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  header nav a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  

/* About */

.top-content-about {
    display: flex;
    flex-direction: column;
	margin-top: 30px;
	margin-bottom: 25px;
	padding-bottom: 30px;
    border-bottom: 1px dotted black;
    justify-content: center;
    margin-left: 20px;
}

.about-middle-content {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between
}

.about-middle-content div {
    display: flex;
    width: 45%;
    margin-bottom: 40px;
    padding-bottom: 20px;
	flex-wrap: wrap;
	padding-left: 20px;
    margin-top: 10px;
    border-bottom: 1px dotted black;
}

.container .about-together {
    margin-bottom: 40px;
    margin-left: 20px;
}

.about-middle-content h2 {
    margin-top: 15px;
}

.about-middle-content span {
	margin-top: 20px;
	padding: 12px 40px;
	border: 2px solid black;
	font-size: 13px;
	border-radius: 10px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Blog */
.top-content-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    text-align: center;
    margin: 10% 0;
    min-height: 200px;
    background-color: teal;
    align-items: center;
    font-style:bold;
    border-radius: 25px;
  color:white;
  
} 

.bloglogo {
    width: 100%;
    height: auto;
  }

/* contact */
.contact-us h2 {
    font-size: 20px;
  }
  .contact-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  
  .contact-form {
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
  }
  
  .form-contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .contact-form a {
    border: 2px solid black;
    border-radius: 10px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 2rem;
    width: 50%;
  }

   /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 

/* Products /*


.product-filter {
  display: flex;
}

.product-filter h1 {
  flex-grow: 1;
}
.sort {
  display: flex;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-wrap: wrap;
}
.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;


}

.product-card {
    flex: 1 16%;
  }

  .product-image img {
    max-width: 100%;
  }