/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 800px;
    margin: 0 auto;
    /* border: 1px solid orange; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    /* border: 1px solid red; */
}

header nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

header nav a {  
    font-size: 0.85rem;
    color: black;
    text-decoration: none;
    transition: transform .2s;
}

header nav a:hover, footer nav a:hover {
    text-decoration: underline;
}


header #logo-wrapper {
    width: 20%;
}

#logo {
  animation-name: logo-appearance;  
  animation-duration: 4s;
  animation-delay: 2s;
}

@keyframes logo-appearance {
  0%   {width: 0%}
  25%  {width: 25%}
  50%  {width: 50%}
  75%  {width: 75%}
  100% {width: 100%}
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.banner-image-wrapper {
    margin: 2rem 0;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box:first-child {
    background: teal;
} 
.middle-content .boxes .box:nth-child(2) {
    background: gold;
} 
.middle-content .boxes .box:nth-child(3) {
    background: cadetblue;
} 
.middle-content .boxes .box:nth-child(4) {
    background: coral;
} 
.middle-content .boxes .box:nth-child(5) {
    background: crimson;
} 
.middle-content .boxes .box:nth-child(6) {
    background: forestgreen;
} 
.middle-content .boxes .box:nth-child(7) {
    background: darkorchid;
} 
.middle-content .boxes .box:nth-child(8) {
    background: hotpink;
} 
.middle-content .boxes .box:nth-child(9) {
    background: indigo;
} 
.middle-content .boxes .box:last-child {
    background: dodgerblue;
} 


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* About Page */
.introduction {
    padding-bottom: 1.25rem;
    border-bottom: 1px dashed black;
}

.introduction .text-container {
    padding: 0 1%;
}

.items-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1%;
}

.item {
    flex: 0 0 48%;
    padding: 1rem 0;
    margin: 1.5rem 0;
    border-bottom: 1px dashed black;
    display: flex;
    flex-direction: column;
}

.item-image-wrapper, .item-text, .button {
    margin: 1rem 0;
}

.button {
    width: 140px;
	padding: 0.65rem 1rem;
	margin-top: 1rem;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
    cursor: pointer;
    transition: transform .2s;
}

.button:hover {
    color: white;
    background: black;
    transform: scale(1.25);
}

.call-to-action {
  margin: 2rem 0;
  padding: 0 1%;  
}