/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
.container a {
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 230px;
    margin-top: 20px;
    color: black;
    
}
.header-nav, .navbar, a {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.headnav {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
.logo {
    display: flex;
    position: absolute;
    top: 1em;
    margin-left: 40px;
}
/* hold */
.jumbo img {
    display: flex;
    margin-top: 20px;
   margin-left: 200px;
    width: 70%;
    height: 20%;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
    margin-top: 30px;
}

.top-content .text-container {
    display: flex;
    flex-wrap: wrap;
    width: 31%;
    padding: 2%;
    padding-bottom: 20px;
    height: 160px;  
}
.text-container h2 {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;

}

.middle-content {
    margin-bottom: 20px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
    margin-top: 18px;
}

.middle-content .boxes0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box1 {
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.box2 {
    width: 12.5%;
    height: 100px;
    background: gold;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box3 {
    width: 12.5%;
    height: 100px;
    background: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box4 {
    width: 12.5%;
    height: 100px;
    background: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box5 {
    width: 12.5%;
    height: 100px;
    background: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box6 {
    width: 12.5%;
    height: 100px;
    background: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box7 {
    width: 12.5%;
    height: 100px;
    background: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box8 {
    width: 12.5%;
    height: 100px;
    background: hotpink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box9 {
    width: 12.5%;
    height: 100px;
    background: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box10 {
    width: 12.5%;
    height: 100px;
    background: dodgerblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-content {
    display: flex;
    margin-left: 50px;
    justify-content: space-around;
    padding: 2%;
}

.bottom-content .text-container {
    padding-right: 4%;

}

.bottom-content .text-container:last-child {
    padding-right: 10%;
    
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/*about css */
.navi2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 200px;
    width: 70%;
}
.about h1 {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 79%;
    height: 100%;
    margin-left: 90px;
    align-content: space-between;
    border-top: 5px dotted black;
}
.boxes .boxes1 {
    width: 500px;
    height: 450px;
    margin: 0px 30px 1px 80px;
    padding: 15px;
    border-bottom: 2px dotted black;
}
.boxes .boxes2 {
    width: 500px;
    height: 450px;
    margin: 0px 30px 1px 80px;
    padding: 15px;
    border-bottom: 2px dotted black;
}
.boxes .boxes3 {
    width: 500px;
    height: 450px;
    margin: 60px 30px 0px 80px;
    padding: 1px;
    border-bottom: 2px dotted black;

}
.boxes .boxes4 {
    width: 500px;
    height: 450px;
    margin: 60px 30px 0px 80px;
    padding: 1px;
    border-bottom: 2px dotted black;
}
button {
    width: 170px;
    height: 40px;
    margin-top: 50px;
    text-decoration: none;
    position: relative;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-radius: 10px;

}

.work {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 70%;
    margin-left: 210px;
    margin-bottom: 20px;
}
.footer {
    display: flex;
    margin-left: 80px;
}
.navi a {
    display: flex;
    text-align: center;
    color: white;
}