/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0% 15%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
  margin-top: 2%;
}

.top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middle-content .boxes .box {
  width: 12.5%;
  height: 100px;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.bottom-content .text-container {
  padding-right: 4%;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  display: flex;
  background: black;
  justify-content: center;
}

footer nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}
header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 6%;
  background-color: white;
  top: 0;
  z-index: 1;
}
nav.links {
  width: 60%;
  text-align: center;
  align-items: center;
  position: relative;
  top: 30%;
}
nav.links a:link {
  margin: 5%;
  color: black;
  text-decoration: none;
}
div.placeholder {
  display: block;
  position: absolute;
  width: 100%;
  height: 8%;
  margin-bottom: 8%;
  background-color: white;
  top: 0;
}
img.head-img {
  margin-top: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box.box1 {
  background-color: teal;
}
.box.box2 {
  background-color: gold;
}
.box.box3 {
  background-color: cadetblue;
}
.box.box4 {
  background-color: coral;
}
.box.box5 {
  background-color: crimson;
}
.box.box6 {
  background-color: forestgreen;
}
.box.box7 {
  background-color: darkorchid;
}
.box.box8 {
  background-color: hotpink;
}
.box.box9 {
  background-color: indigo;
}

.box.box10 {
  background-color: dodgerblue;
}
/* this like is the beginning of about CSS */
.page2 h1 {
  margin: 2% 2% 2% 0;
}
.page2divmid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
div.subgroup1 {
  display: flex;
}
div.subgroup2 {
  display: flex;
}
div.subgroup1 p {
  width: 80%;
}
div.subgroup2 p {
  width: 80%;
}
div.subgroup1 hr {
  justify-content: flex-start;
  width: 80%;
  margin-left: 3%;
  border: dashed 1px black;
}
div.subgroup2 hr {
  justify-content: flex-start;
  width: 80%;
  margin-left: 3%;
  border: dashed 1px black;
}
button {
  border: 1px solid black;
  border-radius: 10px;
}
