/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body, header{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    
    /*
    my code above
    */
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.small {
    width: 370px;
    height: 420px;
    border: 1px dotted black;
    border-width: 0px 0px 1px 0px;
    margin: 50px 0px 0px 0px;
}

.mids{
    margin: 50px 0px 1px 0px;
    align-content: center;
    border: 1px dotted black ;
    height: 1000px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    border-width: 1px 0px 0px 0px;
}
button{
    margin:10px 0px 0px 0px;
    width: 90px;
    border: 2px solid black ;
    padding:10px;
    background-color: white;
    border-radius: 5px;
}

header{
    line-height: 1;
    display: flex;
    margin: 20px 10px 30px 10px;
    width: 800px;
    height: 50px;
}
a{
    margin: 0px 0px 0px 60px;
    padding:5px;
    justify-content: space-between;
    width: 50px;
    text-decoration: none;
    color: black;
}
a:hover{
    animation: ah 5s infinite;
}
@keyframes ah{
    100%{
        border-radius: 3px;
        background-color: black;
        color: white;
    }
}
.tnav{
    margin:  30px 5px 0px 20px;

}
.jum{
    margin: 0px 0px 20px 0px;
}
.bot{

    height: 150px;
}

.box-1{
background-color: teal;
}
.box-2{
background-color:gold;
}
.box-3{
background-color: cadetblue;
}
.box-4{
background-color: coral;
}
.box-5{
background-color:crimson;
}
.box-6{
background-color: forestgreen;
}
.box-7{
background-color:darkorchid;
}
.box-8{
background-color: hotpink;
}
.box-9{
background:indigo;
}
.box-10{
background: dodgerblue;
}
.h2{
    padding: 10px 0px 0px 0px;
}