/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style for Sprint Challenge */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.container {
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
}

.container .header-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 0;
  margin-bottom: 40px;
}

.container .header-section .navigation {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.container .header-section .navigation a {
  text-decoration: none;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

/* .container .header-section .navigation a:hover {
    color: blue;
} */

.banner {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.home-page .top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.home-page .top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}

.home-page .middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.home-page .middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home-page .middle-content .boxes .box {
  width: 100px;
  height: 100px;
  background: black;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .middle-content .boxes .teal {
  background: teal;
}

.home-page .middle-content .boxes .gold {
  background: gold;
}

.home-page .middle-content .boxes .cadetblue {
  background: cadetblue;
}

.home-page .middle-content .boxes .coral {
  background: coral;
}

.home-page .middle-content .boxes .crimson {
  background: crimson;
}

.home-page .middle-content .boxes .forestgreen {
  background: forestgreen;
}

.home-page .middle-content .boxes .darkorchid {
  background: darkorchid;
}

.home-page .middle-content .boxes .hotpink {
  background: hotpink;
}

.home-page .middle-content .boxes .indigo {
  background: indigo;
}

.home-page .middle-content .boxes .dodgerblue {
  background: dodgerblue;
}

.home-page .bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.home-page .bottom-content .text-container {
  padding-right: 4%;
}

.home-page .bottom-content .text-container:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

/* About Page */

.about-page .about-section {
  padding: 0 1em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed black;
}

.about-page .top-content {
  display: flex;
  justify-content: space-between;
}

.about-page .middle-content {
  display: flex;
  justify-content: space-between;
}

.about-page .content-box {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px dashed black;
}

.about-page .content-box img {
  width: 100%;
}

.about-page .content-box h2 {
  margin-top: 15px;
}

.about-page .content-box .btn {
  border: 2px solid black;
  width: 125px;
  border-radius: 12px;
  text-align: center;
  padding: 5px 10px;
  margin-top: 15px;
}

.about-page .content-box .btn:hover {
  background: black;
  color: white;
}

.about-page .bottom-content {
  margin-bottom: 40px;
}

/* Tablet */
@media (max-width: 800px) {
    .container .header-section {
        flex-direction: column;
        align-items: center;
    }

    .container .header-section .logo {
        margin-bottom: 20px;
    }

    footer {
        display: flex;
        justify-content: center;
    }

}

/* Mobile */
@media (max-width: 500px) {
    .container {
        width: 100%; 
    }

    .container .content-container {
        padding: 0 1em;
        margin: 0 auto;
    }

    .container .header-section {
        margin-top: 0;
    }

    .container .header-section .navigation {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container .header-section .navigation a {
        border: 1px solid black;
        padding: 20px 100%;
    }

    .banner {
        display: none;
    }

    .home-page .top-content {
        flex-direction: column;
        align-items: center;
    }

    .home-page .top-content .text-container {
        width: 100%;
    }

    .home-page .bottom-content {
        flex-direction: column;
        align-items: center;
    }

    .home-page .bottom-content .text-container {
        width: 100%;
        margin: 10px 0;
    }


    footer nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    footer nav a {
        border: 1px solid white;
        padding: 20px 100%;
    }

}
