html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
*{
    max-width: 100%;
    max-height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}
.header{
    margin-top: 10px;
    display:flex;
    width: 100%;
    height: 8vh;
}

.nav{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.logo{
    width: 20%;
}
.header-spacer{
    height: 80%;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar a{
    color: black;
    text-decoration: none;
    
}

.img{
    width: 800px;
    height: 153px;
}
.header-img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-section{
    display: flex;
    width: 100%;
}
.top-section h1{
    text-align: center;
}
.top-section{
    width: 100%;
    text-align: center;
    border-bottom: dashed 1px black;
    margin-bottom: 20px;
}
.content-1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.html{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-right: 10px;
    text-align: center;

}
.css{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 20px;
    margin-right: 20px;
    border-right: 1px dashed black;
    border-left: 1px dashed black;
    text-align: center;
}
.javascript{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-left: 10px;
    text-align: center;
}
.content-2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px black dashed;
    padding-top: 20px;
}
.python{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-right: 10px;
    text-align: center;
}
.react{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 20px;
    margin-right: 20px;
    border-right: 1px dashed black;
    border-left: 1px dashed black;
    text-align: center;
}
.angular{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-left: 10px;
    text-align: center;
}
i{
   font-size: 600%; 
}
.html i{
    color: #FF9900;
}
.css i{
    color: #146EB4;
}
.javascript i{
    color: gold;
}
.python i{
    color: #004883;
}
.react i{
    color: #55ACEE;
}
.angular i{
    color: #EA4335;
}
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}