/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
   
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
.container-products {
    width: 930px;
    margin: 0 auto;
}
footer {
    width: 100%;
    background: black;
   
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 930px;
   
}
header nav a {
    text-decoration: none;
    
}
.container-products header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products-intro {
    padding: 1em;
    border: 2px solid black;
}
.products-top {
        display: flex;
        align-items: stretch;
        width: 930px;    
        padding-top: 2em;
        padding-bottom: 2em;
        justify-content: space-between;
}      
 .products-top h3 {
    margin-top: 15px;
}
.products-middle {

        display: flex;
        align-items: stretch;
        width: 930px;
        padding-top: 2em;
        padding-bottom: 2em;
        justify-content: space-between;
}
.products-middle h3 {
    margin-top: 15px;
}



.products-outro {
    padding-top: 40px;
    padding-bottom: 40px;
}


button {

    border-radius: 8px;
    border-color: black;
    background: white;
    font-weight: bold;
    height: 11%;
    width: 34%;
}
.products-outro {
   
    border: 2px solid black;
    width: 930px;
    padding:1rem;
  
}
.products1, .products2, .products3, .products4 {
    width:464px;
    height:611.8px;
    border: 2px solid black;
    padding: 20px;
}