/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
	display: flex;
	width: 100%;
	margin: 20px 0px 20px 0px;
}

header nav {
	display: flex;
	justify-content: space-between;
	width: 720px;
	align-items: baseline;
}

header nav a {
	text-decoration: none;
	color: black;
}

header nav a:hover {
	color: blue;
}

footer {
    width: 100%;
    background: black;
	margin-top: 15px;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.banner img {
    width: 800px;
    height: 153px;
}

.about-section {
    margin: 20px;
}

.container-about-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: black 1px dashed;
    padding-top: 25px;
}

.content-box {
    width: 45%;
    border-bottom: black 1px dashed;
    margin-bottom: 20px;
    margin: 20px;
    padding-bottom: 5px;
}

.content-box img {
    width: 370px;
    height: 236px;
}

.container-about-page .content-box button {
    border: 2px solid black;
    font-size: 16px;
    background: white;
    width: 140px;
    height: 40px;
    margin: 10px 0px 15px 0px;
    border-radius: 10px;
    cursor: pointer;
}

.container-about-page .content-box button a {
    text-decoration: none;
    color: black;
}

.container-about-page .content-box button:hover {
    background-color: lightgrey;
    color: black;
}

.container-about-page .content-box a:hover {
    background-color: lightgrey;
    color: black;
}

h4 {
    margin-top: 10px;
}

.bottom {
    width: 760px;
    margin-bottom: 40px;
}
