.topLinks{
    display: flex;
    justify-content: space-evenly;
    max-width:1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    }
    .topLinks :nth-child(n+1){ 
        font-size: 18px;
        color: black; 
    }
    .top-img { 
        display: flex;
        justify-content: center;
        padding-bottom: 10px;

     }
    section h1{
        max-width: 800px;
        display:flex;
        margin-left: 335px;
        font: bold;
        align-items: center;
    }
    p{
        width: 880px;
        margin-left: 335px;
        border-bottom: .5px dashed black;  
        padding-bottom: 40px;
        margin-bottom: 40px; 
        flex-wrap: wrap;
    }
    .flexbox{
        display: inline-flex ;
        flex-wrap:wrap ;
        justify-content: space-evenly;
        border-bottom: .5px dashed black;
        width: 880px;
        margin-left: 300px;
        padding-bottom: 25px;
    }
    #strategy{
        text-align: left;
        border: 1px;
        width: 300px;
        padding: 10px;
        margin: 10px;
        border-bottom: .5px dashed black;
    }
    #how {
        text-align: left;
        border: 1px;
        height: ;
        width: 300px;
        padding: 10px;
        margin: 10px;
        border-bottom: .5px dashed black;
    }
    #places{
        text-align: left;
        border: 1px ;
        border-bottom: .5px dashed black;
        width: 300px;
        padding: 10px;
        margin: 10px;
    }
    #Collab{
        text-align: left;
        border: 1px ;
        border-bottom: .5px dashed black;
        width: 300px;
        padding: 10px;
        margin: 10px;
    }
    button {
        margin-top: 15px;
    }
    .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 880px;
        margin-left: 350px;
        padding-bottom: 25px;
    }
    #foot{ max-width: 800px;
        display:flex;
        justify-content: space-between;
        flex-wrap: ;
        background-color: black;
        color: white;
        margin-left: 330px;
        padding: 10px;
        margin-bottom: 10px;
    }
    #foot a {font-size: px;
        color: white;
    
    }