/*
COLORS:

Light green: #54c742
Medium green: #04ad01
Dark green: #0a7412

*/
/*

/*
$breakpoint choices:
-phone
-tab-port
-tab-land
-big-desktop
-custom
*/
.u-text-center {
  text-align: center; }

.u-margin-right-sm {
  margin-right: 1.5rem; }

.u-margin-right-md {
  margin-right: 3rem; }

.u-margin-right-lg {
  margin-right: 8rem; }

.u-margin-left-sm {
  margin-left: 1.5rem; }

.u-margin-left-md {
  margin-left: 5rem; }

.u-margin-left-lg {
  margin-left: 8rem; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.u-margin-bottom-md {
  margin-bottom: 4rem; }

.u-margin-bottom-lg {
  margin-bottom: 8rem; }

.u-top-lg {
  margin-top: 8rem; }

.u-top-xl {
  margin-top: 10rem; }

.u-float-right {
  float: right; }

.u-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.u-margin-1 {
  margin: 1em; }

.u-padding-1 {
  padding: 1em; }

.u-border-1 {
  border: 1px solid black; }

.color-invert {
  filter: invert(1); }

.color-black {
  color: #000; }

.bg-grey {
  background: #eee;
  border-radius: 3px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.box {
  background: #000;
  color: #fff;
  width: 5em;
  height: 5em;
  margin: 1em; }
  .box-1 {
    background: teal;
    color: #000; }
  .box-2 {
    background: gold;
    color: #000; }
  .box-3 {
    background: cadetblue;
    color: #000; }
  .box-4 {
    background: coral;
    color: #000; }
  .box-5 {
    background: crimson;
    color: #fff; }
  .box-6 {
    background: forestgreen;
    color: #000; }
  .box-7 {
    background: darkorchid;
    color: #fff; }
  .box-8 {
    background: hotpink;
    color: #fff; }
  .box-9 {
    background: indigo;
    color: #fff; }
  .box-10 {
    background: dodgerblue;
    color: #000; }

.inline-block {
  display: inline-block; }

.flex {
  display: flex; }
  @media (max-width: 56.25em) {
    .flex {
      flex-direction: column; } }
  @media (max-width: tab-port) {
    .flex {
      flex-direction: column; } }
  .flex-inline {
    display: inline-flex; }
  .flex-column {
    flex-direction: column; }
    .flex-column-reverse {
      flex-direction: column-reverse; }
  .flex-reverse {
    flex-direction: row-reverse; }
  .flex-wrap {
    flex-wrap: wrap; }
    .flex-wrap-reverse {
      flex-wrap: wrap-reverse; }
  .flex-justify-start {
    justify-content: flex-start; }
  .flex-justify-end {
    justify-content: flex-end; }
  .flex-justify-center {
    justify-content: center; }
  .flex-justify-between {
    justify-content: space-between; }
  .flex-justify-around {
    justify-content: space-around; }
  .flex-justify-even {
    justify-content: space-evenly; }
  .flex-content-start {
    align-content: flex-start; }
  .flex-content-end {
    align-content: flex-end; }
  .flex-content-center {
    align-content: center; }
  .flex-content-stretch {
    align-content: stretch; }
  .flex-content-around {
    align-content: space-around; }
  .flex-content-between {
    align-content: space-between; }
  .flex-items-start {
    align-items: flex-start; }
  .flex-items-end {
    align-items: flex-end; }
  .flex-items-center {
    align-items: center; }
  .flex-items-stretch {
    align-items: stretch; }
  .flex-items-baseline {
    align-items: baseline; }
  .flex-shrink {
    flex-shrink: 2; }
    .flex-shrink-more {
      flex-shrink: 3; }
  .flex-grow {
    flex-grow: 2; }
    .flex-grow-more {
      flex-grow: 3; }
  .flex-self-start {
    align-self: flex-start; }
  .flex-self-end {
    align-self: flex-end; }

header {
  margin-top: 1em;
  height: 5em; }
  header nav ul li a {
    color: #000;
    text-decoration: none;
    transition: all .2s; }
    header nav ul li a:hover {
      text-decoration: underline;
      color: #0f0; }

footer {
  margin-top: 5em;
  padding: 1em;
  background: black;
  width: 100%;
  height: 1.5em; }
  footer ul .flex * > {
    display: none; }
  footer a {
    color: #fff;
    text-decoration: none; }
    footer a:hover {
      color: #0f6; }

:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px; }

body {
  margin: 0 28%; }

hr {
  border-top: 1px dashed black; }

.flex div {
  padding: 1rem;
  margin: 1rem; }

.flex article {
  padding: 0 1em;
  width: 45%; }
  .flex article button {
    background: #fff;
    margin: 1em;
    float: right;
    border: 1px solid #000;
    border-radius: 1em; }
  .flex article h3 {
    margin-bottom: .5rem; }
