/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* My code */

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;    
    align-items: baseline; 
    margin: 15px 0px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.banner-img{
    margin-bottom: 30px;
}

.teal {
    background: teal;
}

.gold{
    background: yellow;
}

.cadetblue{
    background: cadetblue;
}

.coral{
    background: coral;
}
.crimson{
    background: crimson;
}
.forestgreen{
    background:forestgreen
}
.darkorchid{
    background: darkorchid;
}

.hotpink{
    background:hotpink;
}
.indigo{
    background: indigo;
}
.dodgerblue{
    background: dodgerblue;
}


/* About page */
.about-info{
    border-bottom: dashed 1px black;
    padding-bottom: 20px;
}
.about-info .info-text{
    padding: 0px 20px;
}
.about-cards .row{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
    padding: 0px 20px;

}

.about-cards .item{
    border-bottom: dashed 1px black;
    width: 370px;;
}
.about-cards .item img{
    margin: 10px 0px;
}
.about-cards .item .cta{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 115px;
    height: 40px;
    padding: 10px 10px;
    margin: 20px 0px;
    border: solid black 2px;
    border-radius: 10px;
}

.about-cards .item .cta:hover{
    background: black;
    color: white;
    transition: 0.7s;
    border: dashed white 1px;
}

.work-together{
    padding: 0px 20px;

}

/* About page */

.contact-info {
    padding: 0px 20px;
}
.contact-form {
    padding: 0px 20px;
}

.contact-form form{
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}
.contact-form form span{
    display: block;
    margin: 10px 0px;
}
.contact-form form textarea{
    width: 500px;
    resize: none;
}
.contact-form form .cta{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: white;
    color: black;
    width: 115px;
    height: 40px;
    padding: 10px 10px;
    margin: 20px 0px;
    border: solid black 2px;
    border-radius: 10px;
}
.contact-form form .cta:hover{
    background: black;
    color: white;
    transition: 0.7s;
    border: dashed white 1px;
}
.divider{
    border-bottom: dashed 1px black;
    margin: 20px 0px;
}