.box1{ background-color: teal};
.box2{ background-color: gold};
.box3{ background-color: cadetblue};
.box4{ background-color: coral};
.box5{ background-color: crimson};
.box6{ background-color: forestgreen};
.box7{ background-color: darkorchid};
.box8{ background-color: hotpink};
.box9{ background-color: indigo};
.box10{ background-color: dodgerblue};
