
@mixin size-md {
    @media  only screen and (min-width:  768px) {
        @content;
    }        
};

@mixin size-lg {
    @media  only screen and (min-width: 1200px) {
        @content;
    }        
  };
