footer {
    margin-top: 5em;
    padding:1em;
    background: black;
    width: 100%;
    height: 1.5em;
    ul .flex * > {
        display:none;
    }
    & a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #0f6;
        }
    }
}