header {
    margin-top: 1em;
    height: 5em;
    @include respond(phone) {
        height: 100%;
    }
    & nav ul li {
        @include respond(phone) {
            margin-right: 0;
        }
    & a {
    color: #000;
    text-decoration: none;
    @include transition;
    
    &:hover{
        text-decoration: underline;
        color:#0f0;
    }
    }
}
}