
 
* {
    box-sizing: border-box;
    margin-right:100px;
    
}

html, body {
    height: 50%;
    width: 50%%;
    font-family: 'Roboto', sans-serif;
}

 h2, {
    font-size: 50px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    margin-top: 25px;
}

p {
    background: black;
    
}


.containerAboutPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.containerAboutPage  {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}


footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
    
}

.nav-item {
    color: black;
  margin-left: 200px;
  
} 

.About {
    width: 50%;
}
.middleSectionOne .Strategy {
    width: 510px;
	height: 250px;
	margin: 75px;
	margin-left: 70px;
	margin-top: 10px;
	border: 2px solid black;
} 