/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
  border: 1px solid red;
}
.navigation{
   width: 100%;
   margin: 0 auto;
  
  
 }

header {
    padding: 2%;
    font-size: 14px;
  
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  margin-bottom:5%;
}

header nav a {
    text-decoration: none;
    color: black;
}

.body-img{
  display:flex;
  margin-left:15%;
}

#box1 {
   background-color: teal;
 }

 #box2 {
   background-color: gold;
 }

 #box3 {
   background-color: cadetblue;
 }

 #box4 {
   background-color: coral; 
 }

 #box5 {
   background-color: crimson;
 }

 #box6 {
   background-color: forestgreen;
 }

 #box7 {
   background-color: darkorchid;
 }

 #box8 {
   background-color: hotpink;
 }

 #box9 {
   background-color: indigo;
 }

 #box10 {
   background-color: dodgerblue;
 }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
     width: 100%;
     display: flex;
     background: black;
     justify-content: flex-start;
 }

footer nav {
     width: 60%;
     display: flex;
     justify-content: flex-start;
     padding: 5px 2%;
     font-size: 14px;
     margin: 20px 30px 10px -30px;
 }

footer nav a {
  display:flex;
  justify-content:space-between;
  color: white;
  text-decoration: none;
  margin:1%;
}

@media(max-width:500px){
body{
     font-size: 1rem;
     }

header{
    text-align:center;
  }
header nav {
    display: flex;
    flex-direction: column;
    align-items: center;   
    }
header nav a {
        font-size: 4rem;
    }
 nav img{
    display:flex;
    width:45%;
    margin-bottom:5%;
   margin-right:0%;
  }
 img{
   display:flex;
   align-items: center;
   width:100%;
   height:20%;
   margin-left:-5%;
  }

.top-content 
  {
    display: flex;
    align-items: center; 
    flex-direction: column;  
    font-size: 2rem;
    padding-top: 0%;
    margin:1%;
  }
  .headerImg {
    height: 300px;
    width: 650px;
    object-fit: cover;
  }  
.middle-content {
  text-align: center;
  width: 100%;
    }
  .middle-content h2{
    width:50%;
    margin-left:25%;
  }
h2{
  font-size: 3rem;
  display:flex;
  justify-content:flex-start;
  
    }
.box{
    display: flex;
    flex-wrap: wrap;
    padding: 20%;
    align-content: center;
        
    }
.boxes {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left:25%;
    padding: 15%;
}

.bottom-content{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30%;
  font-size:2rem;
  line-height:100px;
  }

.text-container{
  padding: 0%;
  width: 100%;
    }
 
footer nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:2rem;
  margin-left:15%;
    }
  }

  


@media screen and (max-width: 800px) and (min-width: 501px){
  body{
        font-size: 1.5rem;
    }

    h2{
        font-size: 2rem;
    }
header nav {
    display: flex;
    flex-direction:row;
    align-items: center;   
    }
  header nav {
        font-size: 1.5rem;
    }
nav img{
    display:flex;
    width:25%;
    margin-bottom:5%;
   margin-left:0%;
  }
 img{
   display:flex;
   align-items: center;
   width:1000%;
   height:20%;
   margin-left:-20%;
  }
    .top-content {
        display: flex;
        align-items: center; 
        flex-direction: column;  
    }

    .top-content .text-container{
        width: 80%;
        margin: 3%;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        padding: 15%;
    }

    .bottom-content {
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;
    }

    .bottom-content .text-container{
        width: 40%;
    }

    footer{
        padding: 8%;
    }

    footer nav a{
        font-size: 2rem;
        padding: 3%;
        margin: 1%;
        text-align: center;
    }
}