html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
img{
	width:auto;
	max-width:100%;
	height:auto;
	}
.container {
    width: 800px;
    margin: 0 auto;

	width:auto;
	max-width:100%;
	height:auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 80%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
}

.middle-content .boxes .box {
    width: 20.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    flex-wrap:wrap;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
    overflow-x:hidden;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
.main-nav{
	display:block;
}
a{
	text-decoration:none;
}
.main-header li{
	margin-top:15px;
	font-weight:bold;
	text-decoration:none;
	list-style:none;
	color:black;
	display:block;
	text-align:center;

}
.picture{
	height:auto;
	width:100vw;
}

@media(min-width:600px){


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
@@ -98,6 +275,8 @@ p {*/
.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:stretch;
    justify-content: space-evenly;
}

@@ -143,4 +322,95 @@ footer nav {
footer nav a {
    color: white;
    text-decoration: none;
}
.main-nav{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-end;
	flex-wrap:wrap;
}
a{
	text-decoration:none;
}
.main-header li{
	margin-top:15px;
	font-weight:bold;
	text-decoration:none;
	list-style:none;
	color:black;
	display:inline-block;

}
.picture {
	margin-top:30px;
	margin-bottom:10px;
	animation: 4s slide-up;
}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%; 
  }

  to {
    margin-top: 30px;
    height: 100%;
  }

}

.main-container{
	width:100%;
	height:100%;
	background:url(https://media.gettyimages.com/videos/abstract-high-tech-background-texture-video-id925324512?s=640x640)no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	color:white;
	font-family: 'Muli', sans-serif;
}
.main-header2{
	background-color:dodgerblue;
	margin:20px;
	padding:30px;
	text-align:center;
	display:block;
	background:url("https://www.publicdomainpictures.net/pictures/70000/nahled/stars-in-the-night-sky.jpg");
	animation:space-vroom 10s linear infinite;
	color:white;
}
h1{
	font-size:4rem;
}
@keyframes space-vroom{
	0%{
		background-position:0% 0%;
	}
	50%{
		background-position:20% 10%;
	}
	100%{
		background-position:30% 30%;
	}
}
a{
	text-decoration:none;
}
.main-nav2{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:right;
	flex-wrap:wrap;
	color:rgba(255,255,255,0.7)
}
.main-nav2 li {
	color: white;
}
.main-nav2 a{
	text-decoration:none;
}
