/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}
.container {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    color: black;
}
  
.lambda-logo img {
    max-width: 100%;
    height: 100%;
    margin: 0% auto;
    margin-bottom: 5% auto;
    display: flex-start;
    flex-direction: row;

}
  
.header {
      display: flex;
      flex-direction: row;
      margin: 0% auto;
      margin-left: 10%;
}
  
.container .header-nav {
    color: black;
    width: 60%;
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;      
}
  
.road {    
    width: 100%;
    margin: 0%;
    margin-left: 10%; 
    margin-right: 10%;    
}

.about-content {     
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
    margin: 0% auto;
    margin-left: 10%;
}

footer {
    width: 80%;
    background: black;
    margin: 0% auto;
    margin-left: 10%;
}

footer nav {
    font-size: 1.4rem;
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 2%;
    
}

footer nav a {
    color: white;
    text-decoration: none;
    align-items: center;
}

@media(max-width: 500px) {
    .container  {
        display: flex;
        flex-direction: column;   
    }

    .lambda-logo img {
        flex-direction: column;
        display: flex;
        
    }

    nav a {
        flex-direction: column;
        display: flex; 
        align-items: center;
        flex-wrap: wrap;
        justify-items: center;
    }

     .road img {
        width: 80%;
        height: 80%;        
        flex-direction: column;
        align-content: center;
        display: flex;
    }

    .top-content {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
    }

    .top-content h2 {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
    }

    footer nav {
        flex-direction: column;
        display: flex; 
        align-items: center;
    }
}