/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: stretch;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed rgb(50, 10, 95);
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: rgb(34, 34, 34);
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.navLnk {
    justify-content: space-evenly;
    display: inline-block;
    flex-direction: row;
}
.navLnk li {
    justify-content: space-evenly;
    display: inline-block;
    flex-direction: row;
    padding: 30px;
}
.jumbo {
    width: 100px;
    height: 150px;
    object-fit: none;
    object-position: 5px 10%;
}
.top-content {
    justify-content: space-evenly;
    display: inline-flex;
}
.text-container {
    width: 200px;
    height: 300px;
    object-fit: none;
    object-position: 5px 10%;
}
.box-one {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    background-color: rgba(12, 151, 121, 0.89);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-two {
    width: 12.5%;
    height: 100px;
    background: rgb(255, 241, 45);
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-three {
    width: 12.5%;
    height: 100px;
    background: rgba(68, 165, 152, 0.801);
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-four {
    width: 12.5%;
    height: 100px;
    background: rgb(238, 160, 58);
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-five {
    width: 12.5%;
    height: 100px;
    background: rgb(255, 0, 0);
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-six {
    width: 12.5%;
    height: 100px;
    background: rgb(1, 223, 38);
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-seven {
    width: 12.5%;
    height: 100px;
    background: rgb(178, 0, 223);
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-eight {
    width: 12.5%;
    height: 100px;
    background: rgb(255, 0, 242);
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-nine {
    width: 12.5%;
    height: 100px;
    background: rgb(57, 0, 95);
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-ten {
    width: 12.5%;
    height: 100px;
    background: rgb(0, 217, 255);
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    width: 100%;
    background: rgb(34, 34, 34);
}
footer nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}
footer nav a {
    color: white;
    justify-content: space-evenly;
}