/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.lambda-logo img {
  align-items: flex-start;
  display: inline-block;
  align-content: flex-start;
}

.road img {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
    align-content: flex-start;
    align-items: flex-start;
    display: inline-block;
    
}

.container {
    width: 800px;
    margin: 0 auto;
    color: black;
    font-family: arial;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
}

nav a {
    color: black;
    font-family: arial;
    font-size: 1.4rem;
    margin-bottom: 5%;
    margin-left: 5%;
    padding: 2%;
    align-items: flex-start;
    flex-direction: row;
    display: inline-block;
    justify-content: space-between;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    
    width: 12.5%;
    height: 100px;
    background: gold;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3{
    
    width: 12.5%;
    height: 100px;
    background: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4{
    
    width: 12.5%;
    height: 100px;
    background: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box5{
    
    width: 12.5%;
    height: 100px;
    background: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box6{
    
    width: 12.5%;
    height: 100px;
    background: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box7{
    
    width: 12.5%;
    height: 100px;
    background: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box8{
    
    width: 12.5%;
    height: 100px;
    background: hotpink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box9{
    
    width: 12.5%;
    height: 100px;
    background: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box10{
    
    width: 12.5%;
    height: 100px;
    background: dodgerblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    margin: 60px auto;
    margin-top: 50px auto;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
    align-items: center;
}

@media(max-width: 500px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        
    }

    .lambda-logo {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    nav a {
        flex-direction: column;
        display: flex; 
        align-items: center;
      }

     .road img {
        width: 30%;
        height: 50%;
        margin-left: 30%;
        flex-direction: column;
        align-content: center;
        display: flex;
    }

    .top-content {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
    }

    .top-content h2 {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
    }

    .middle-content .boxes {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }

    .middle-content h2 {
        flex-direction: column;
        display: flex;
        align-items: center;
       
    }

    .bottom-content {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    footer nav {
        flex-direction: column;
        display: flex; 
        align-items: center;
    }
}