/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;

}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* header */

header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    padding: 3% 0;

}

nav {
    display:flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: stretch;
}

header nav a{
    color: black;
    text-decoration: none;
}

header #jumbo {
    object-fit:contain;
    padding: 5% 0;
}
/* end header*/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* box colors */

.middle-content .boxes .box:nth-child(1){
    background: teal;
}
.middle-content .boxes .box:nth-child(2){
    background: gold;
}.middle-content .boxes .box:nth-child(3){
    background: cadetblue;
}.middle-content .boxes .box:nth-child(4){
    background: coral;
}.middle-content .boxes .box:nth-child(5){
    background: crimson;
}.middle-content .boxes .box:nth-child(6){
    background: forestgreen;
}.middle-content .boxes .box:nth-child(7){
    background: darkorchid;
}.middle-content .boxes .box:nth-child(8){
    background: hotpink;
}.middle-content .boxes .box:nth-child(9){
    background: indigo;
}.middle-content .boxes .box:nth-child(10){
    background: dodgerblue;
}
/*end box color*/


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* tablet */
@media(max-width: 800px){
.container {
    width: 100%;
    margin: auto;
}

header #jumbo {
    object-fit:contain;
    width:50%;
}

}

/* mobile */

@media(max-width: 500px){

    .container {
        padding:0;
        margin: 0;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    
    }
    header #logo {
        padding: 3% 0 10%;
    }

    header #jumbo {
        object-fit:contain;
        width:100%;
    }
    
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav a:nth-child(3){
        display: none;
    }
    
    header nav a{
        color: dimgrey;
        background-color:lightgrey;
        width: 80%;
        text-align:center;
        border-radius: 5px;
        border: 1px solid gray;
        text-decoration: none;
        font-weight: bolder;
    }
    .top-content {
        flex-direction: column;
    }


    .top-content .text-container {
        width: 100%;
    }
    .top-content .text-container h2 {
    font-weight: bolder;
    font-size: 1.3rem;
    }

    .top-contenr .text-container p {
        font-size: 1rem;
    }

    .middle-content h2 {
        padding: 0 5%; 
    }


    .middle-content .boxes {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
       
    }

    .middle-content .boxes .box{
        justify-content: center;
        width: 30%;
    }

    .middle-content .boxes .box:nth-child(5){
        display: none;
    }
    .middle-content .boxes .box:nth-child(6){
        display: none;
    }.middle-content .boxes .box:nth-child(7){
        display: none;
    }.middle-content .boxes .box:nth-child(8){
        display: none;
    }
    .middle-content .boxes .box:nth-child(9){
        display: none;
    }
    .middle-content .boxes .box:nth-child(10){
        display: none;
    }

    .bottom-content, footer {
        display: none;
    }

}