/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size:62.5%;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
    font-size: 1.8rem;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

header img{
    margin-top: 4%;
}

header nav {
    font-size: 1.4rem;
    align-items:center;
    margin-top: .5%;
    line-height: 3;
}

header nav a {
    color: black;
    text-decoration: none;
    margin: 4rem 4rem 0 4rem ;
}

.jumbo{
    margin: 3% 0 0;
}


.container {
    width: 80rem;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    border-bottom: .1rem dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 2rem;  
}

.middle-content {
    margin-bottom: 2rem;
    border-bottom: .1rem dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
    width: 12.5%;
    height: 10rem;
    background: black;
    margin: 2rem 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

.box1{
    background: teal;
}
.box2{
    background: gold;
}
.box3{
    background: cadetblue;
}
.box4{
    background: coral;
}
.box5{
    background: crimson;
}
.box6{
    background: forestgreen;
}
.box7{
    background: darkorchid;
}
.box8{
    background: hotpink;
}

.box9{
    background: indigo;
}

.box10{
    background: dodgerblue;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2%;
    font-size: 1.4rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*Tablet view */
@media(max-width: 800px){
  h2{
      font-size: 3rem;
  }
  .bottom-content{
      flex-wrap: wrap;
      width:40%
  }

}

/*phone view */
@media(max-width: 500px){
  
}
