/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS STYLING AFTER CSS RESET BELOW */

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    margin: 0px;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

header {
    margin: 2% 7%;
    display: flex;
    justify-content: flex-start;
}

header div.nav-bar {
    width: 100%;
}

header div.nav-bar a {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    margin: 0 8.8% 0 0;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content img {
    margin: 2% 0;
    height: auto;
    width: 86%;
}

.top-content .text-container {
    width: 38%;
    padding: 0 1%;
    padding-bottom: 20px;
    font-size: 1.4rem;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    margin: 0 9% 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 6.5%;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

#box-1 {
    background-color: teal;
}

#box-2 {
    background-color: gold;
}

#box-3 {
    background-color: cadetblue;
}

#box-4 {
    background-color: coral;
}

#box-5 {
    background-color: crimson;
}

#box-6 {
    background-color: forestgreen;
}

#box-7 {
    background-color: darkorchid;
}

#box-8 {
    background-color: hotpink;
}

#box-9 {
    background-color: indigo;
}

#box-10 {
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 9% 20px;
    justify-content: space-around;
    align-items: center;
}

.bottom-content .text-container {
    padding-right: 4%;
    font-size: 1.4rem;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 70%;
    background: black;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 1.4rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 1532px) {
    header div.nav-bar a {
        margin: 0 8% 0 0;
    }
}

@media (max-width: 1391px) {
    header div.nav-bar a {
        margin: 0 7% 0 0;
    }
}

@media (max-width: 1247px) {
    header div.nav-bar a {
        margin: 0 6% 0 0;
    }
}

@media (max-width: 1130px) {
    header div.nav-bar a {
        margin: 0 5% 0 0;
        font-size: 1.6rem;
    }
}

@media (max-width: 962px) {
    header div.nav-bar a {
        margin: 0 4% 0 0;
        font-size: 1.6rem;
    }
}

@media (max-width: 886px) {
    header div.nav-bar a {
        margin: 0 3% 0 0;
        font-size: 1.6rem;
    }
}

@media (max-width: 822px) {
    .container {
        width: 100%;
        height: auto;
    }

    header div.nav-bar nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #image-link {
        width: 157px;
        margin-bottom: 5%;
        background-color: white;
        border: 1px solid white;
        padding: 0;
    }

    header div.nav-bar nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 157px;
        margin-right: 0;
        border: 1px solid #dbdbdb;
        padding: 1% 20px;
        border-radius: 10px;
        color: #dbdbdb;
    }

    header div.nav-bar nav a:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 157px;
        margin-right: 0;
        border: 1px solid #dbdbdb;
        background-color: #dbdbdb;
        padding: 1% 20px;
        border-radius: 10px;
        color: black;
    }

    .top-content {
        display: flex;
        flex-direction: column;
    }

    .top-content img {
        height: 125px;
        width: 100%;
    }

    .top-content .text-container {
        width: 100%;
    }

    .middle-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200%;
    }

    .box {
        width: 100px;
    }

    .bottom-content {
        visibility: hidden;
    }

    footer {
        visibility: hidden;
    }
}