article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}

nav a {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: -20px;
}

@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Lalo {
  height: 100%;
  width: auto;
}

.Midnight {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.secondSec {
  width: 100%;
  display: flex;
    flex-direction: row;

}

@media (max-width: 500px) {
  .secondSec {
    display: flex;
    flex-direction: column;
  }

}

.leftSec {
    display: flex;
    flex-direction: column;
}   

h2 {
  text-align: left;
}

.rightSec {
  display: flex;
  flex-direction: column;

  
}

p {
    line-height: 1.4;
}

.container {
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 80%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.guessTheseAreDashes {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}


.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box1,.box2,.box3,.box4,.box4,.box5,.box6,.box7,.box8,.box9,.box10 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
  .middle-content .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.box1 {
  background-color: teal;
}

.box2 {
  background-color: gold;
}

.box3 {
  background-color: cadetblue;
}

.box4 {
  background-color: coral;
}

.box5 {
  background-color: crimson;
}

.box6 {
  background-color: forestgreen;
}

.box7 {
  background-color: darkorchid;
}

.box8 {
  background-color: hotpink;
}

.box9 {
  background-color: indigo;
}

.box10 {
  background-color: dodgerblue;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

@media (max-width: 500px) {
  .bottom-content {
    display: flex;
    flex-direction: column;
  }
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}