@media  (max-width: 700px){

div#head{
    display:block;
    box-sizing: border-box;
    padding-top: .01%;
    background-color: rgb(72, 204, 236,.3);
    width:100%;
        height:40vh;
}
   
div > #lambdaLogo{
    display: block;
  
}
#lambdaLogo {
  background-color: aliceblue;
  margin:2.5% 19% 2.5% 19%;
  box-sizing: border-box;
    background-image: url('../assets/lambda-black.png');
    background-size:100% 100%;
    width: 60%;
    height:30vh;
}


#myNav{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 238, 238, .5);
    
  
}
nav#myNav > a.btn{
    margin: 1.9em -14em 1.9em 2em;
    height: 20vh;
    width:70%;
}

 button{
     margin: 2% 12% 2% 12%;
     border-radius: 12%;
     color:rgb(36, 35, 35,.8);
     font-weight: bolder;
    font-size:3rem;
    width:50%;
    height: 20vh;
}


section#banner{
    display: block;
      box-sizing: border-box;  
     
}
section#banner > div >img{
   margin:2% 0% 2% 0%;
   padding: 6% 0% 2% 0%;
          width:100%;
      height: 50vh;
      
}


body > section.con{
    display: flex;
    
}
section.con > div.i{
    display: flex;
    flex-direction: column;
   
    
    

}
section.con > div.i > p.ii{
 
    align-items: center;
    font-size: 1.9rem;
    line-height: 1.1em;
    margin:1rem; 
    height: 90%;
    width: 80%
}
section.con > div.i > h2.ii{
    margin:1rem;
    
   
    font-size: 3rem;
    line-height: 1.3em;
}


body > section.con1{
    display: flex;
     
}
section.con1 > div.i{
    display: flex;
    flex-direction: column;
   
    
    

}
section.con1 > div.i > p.ii{
 
    align-items: center;
    font-size: 1.9rem;
    line-height: 1.1em;
    margin:0rem 5rem 0rem 5rem;
    height: 90%;
    width: 80%
}
section.con1 > div.i > h2.ii{
    margin:1rem 0rem 1rem 5rem;
    
    font-size: 3rem;
    line-height: 1.3em;
}











}