@media  (max-width: 700px){

body > #lambdaLogo{
    display: block;
   
  
}
#lambdaLogo {
  background-color: aliceblue;
  margin:5% 20% 5% 20%;
  box-sizing: border-box;
    background-image: url('../assets/lambda-black.png');
    background-size:100% 100%;
border: 0.3em solid black; 
    
    width: 60%;
    height:30vh;
}
nav #myNav{
   
}

#myNav{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    border: 1px solid black;
  
}
nav#myNav > a.btn{
    margin: 1.9em -14em 1.9em 2em;
    height: 20vh;
    width:70%;
}

 button{
     margin: 2% 12% 2% 12%;
     border-radius: 12%;
     color:rgb(36, 35, 35,.8);
     font-weight: bolder;
    font-size:3rem;
    width:50%;
    height: 20vh;
}







}