.box {
    background: #000;
    color: #fff;

    width: 5em;
    height: 5em;
    margin: 1em;
    
    &-1 {
        background: teal;
        color: #000;
    }
    &-2 {
        background: gold;
        color: #000;
    }
    &-3 {
        background: cadetblue;
        color: #000;
    }
    &-4 {
        background: coral;
        color: #000;
    }
    &-5 {
        background: crimson;;
        color: #fff;
    }
    &-6 {
        background: forestgreen;
        color: #000;
    }
    &-7 {
        background: darkorchid;
        color:#fff;  
    }
    &-8 {
        background: hotpink;
        color: #fff;
    }
    &-9 {
        background: indigo;
        color: #fff;
    }
    &-10 {
        background: dodgerblue;
        color: #000;
    }
}