.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:nth-child(1) {
    background-color: teal;
}

.box:nth-child(2) {
    background-color: gold;
}

.box:nth-child(3) {
    background-color: cadetblue;
}

.box:nth-child(4) {
    background-color: coral;
}

.box:nth-child(5) {
    background-color: crimson;
}

.box:nth-child(6) {
    background-color: forestgreen;
}

.box:nth-child(7) {
    background-color: darkorchid;
}

.box:nth-child(8) {
    background-color: hotpink;
}

.box:nth-child(9) {
    background-color: indigo;
}

.box:nth-child(10) {
    background-color: dodgerblue;
}