/*rationale: code is already over 100 lines with reset
 so slight deficency in stylesheet load is worth it*/

/*_RESET*/

@import "_reset.css";
/*_BOXES*/

@import "_boxes.css";
@import "_animations.css";
h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 2.3em;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    -webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s infinite alternate-reverse forwards;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s infinite alternate-reverse forwards;
}

button {
    background: white;
    border-radius: 10px;
}