/*rationale: code is already over 100 lines with reset
 so slight deficency in stylesheet load is worth it*/

/*_RESET*/

@import url("_reset.css");
/*_BOXES*/

@import url("_boxes.css");
@import "/_animations.css";
:root {
    --light-switch-shadow: #373d4e;
    --light-switch-icon: "🌚";
    --light-switch-text: "";
    …
    /* Dark mode */
    --dark-switch-shadow: #fce477;
    --dark-switch-icon: "🌝";
    --dark-switch-text: "";
    …
    /* Default mode */
    --switch-shadow-color: var(--light-switch-shadow);
    --switch-icon: var(--light-switch-icon);
    --switch-text: var(--light-switch-text);
    /* Light mode */
    --light-text: #222430;
    --light-bg: #f7f7f7;
    --light-theme: #d34a97;
    /* Dark mode */
    --dark-text: #f7f7f7;
    --dark-bg: #222430;
    --dark-theme: #bd93f9;
    /* Default mode */
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --theme-color: var(--light-theme);
}

#page {
    background: var(--bg-color) !important;
    color: var(--text-color) !important;
}
label:hover {
    cursor: pointer;
}

.theme-switch:checked~#page {
    --switch-shadow-color: var(--dark-switch-shadow);
    --switch-icon: var(--dark-switch-icon);
    --switch-text: var(--dark-switch-text);
    --text-color: var(--dark-text);
    --bg-color: var(--dark-bg);
    --theme-color: var(--light-theme);
}

.theme-switch {
    position: fixed !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.switch-label::before {
    content: var(--switch-icon);
    font-size: 40px;
    transition: text-shadow .7s;
}

.switch-label::after {
    content: var(--switch-text);
    color: var(--switch-shadow-color);
}

.theme-switch:focus~#page .switch-label::before, .switch-label:hover::before {
    text-shadow: 0 0 15px var(--switch-shadow-color);
}
body label {
    display: flex;
    justify-content: center;
    padding-top: 19px;
    position: fixed;
    z-index: 10000;
}
h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 2.3em;
}

header p, header h2 {
    margin: 25px;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    -webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s infinite alternate-reverse forwards;
    animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s infinite alternate-reverse forwards;
}

button {
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: black;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex-direction: column;
}

section {
    padding: 2em;
}

.row section {
    border-bottom: 2px dashed black;
    margin: 12px;
}

header section {
    border-bottom: 2px dashed black;
}
input[type=text] {
    padding: 3em 7em; 
    margin: 8px 0;
    width: 100%;
}