.flex article {
    margin: auto;
    width: 50%;
    & button {
        background: #fff;
        margin: 1em;  
        border: 1px solid #000;
        border-radius: 1em;
    }
    & h3 {
        margin-bottom: .5rem;
    }
    

    

}
