.flex article {
    margin: auto;
    width: 50%;
    @include respond(tab-port) {
        width: 75%;
    }
    @include respond(phone) {
        width: 100%;
    }
    @media only screen and (min-width: 900px) {
        &:nth-of-type(3) {
            height: 25.11em;
        }
    }
    & button {
        background: #fff;
        margin: .5em;  
        padding: 1em;
        border: 1px solid #000;
        border-radius: .5em;
        @include transition;
        &:hover {
            background: #000;
            color: #fff;
            transform: scale(1.25);
        }
    }
    & h3 {
        margin-bottom: .5rem;
    }
    

    

}
