/* header section with navbar */

header {

  display: flex;
  margin: 5% 0;
  #logo-area {
    width: 25%;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    width: 75%;
    nav {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
  section {
    padding: 2% 0;
  }
}

/* end of navbar sections */

/* header img only */

#header-img {
  margin: 2% 0;
  width: 100%;
}
/* end header img */

/* change css background color for each box in div.boxes */

.boxes {
  #box1 {
    background-color: teal;
  }
  #box2 {
    background-color: gold;
  }
  #box3 {
    background-color: cadetblue;
  }
  #box4 {
    background-color: coral;
  }
  #box5 {
    background-color: crimson;
  }
  #box6 {
    background-color: forestgreen;
  }
  #box7 {
    background-color: darkorchid;
  }
  #box8 {
    background-color: hotpink;
  }
  #box9 {
    background-color: indigo;
  }
  #box10 {
    background-color: dodgerblue;
  }
}
/* end box background colors */
